{% extends "invoice/base.html" %}

{% block content %}
    <h4>Invoice</h4>
    <table>
        <thead>
        <th width="100">#id</th>
        <th width="300">Customer</th>
        <th width="100">Status</th>
        <th width="100" class="text-right">Total</th>
        </thead>
        <tbody>
        {% for invoice in invoice_list %}
            <tr>
                <td><a href="{% url "invoice-detail" pk=invoice.pk %}">{{ invoice }}</a></td>
                <td>{{ invoice.customer_name }}</td>
                <td>{{ invoice.get_status_display }}</td>
                <td class="text-right">{{ invoice.total|floatformat:"2" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}