{% extends "invoice/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h4>Create/Update an Invoice</h4>

    <form action="" method="post">
        {% crispy form form.helper %}
        <fieldset>
            <legend>Extra</legend>
            {% crispy extras_formset extras_formset.form.helper %}
        </fieldset>
        <div class="button-holder">
            <input name="submit" value="Save" class="submit button" id="submit-id-submit" type="submit">
        </div>
    </form>

{% endblock %}

{% block post_extra_js %}
    <script>
        $(function () {
            ($('select[name=customer]').change(function () {
                $.ajax({
                    url: "/customer/api/customers/" + $(this).val() + "/",
                    method: "GET"
                }).done(function (data) {
                    $('input[name=customer_name]').val(data.name + " " + data.company);
                    $('input[name=customer_address]').val(data.address);
                    $('input[name=customer_zip]').val(data.zipcode);
                    $('input[name=customer_city]').val(data.city);
                });
            }));

            ($('select[name=event]').change(function () {
                $.ajax({
                    url: "/schedule/api/events/" + $(this).val() + "/",
                    method: "GET"
                }).done(function (data) {
                    $('input[name=event_title]').val(data.title);
                    $('input[name=event_start]').val(data.start);
                    $('input[name=event_end]').val(data.end);
                });
            }));

            ($('select[name=aircraft]').change(function () {
                $.ajax({
                    url: "/aircraft/api/aircrafts/" + $(this).val() + "/",
                    method: "GET"
                }).done(function (data) {
                    $('input[name=aircraft_mark]').val(data.aircraft_mark);
                    $('input[name=aircraft_takeoff_cost]').val(data.takeoff_cost);
                    $('input[name=aircraft_type]').val(data.aircraft_type_name);
                });
            }));

            ($('select[name=pilot]').change(function () {
                $('input[name=pilot_name]').val($(this).find(":selected").text());
            }));
        })
    </script>
{% endblock %}