{% extends "invoice/base.html" %}

{% block content %}
    <h4>Invoice no. {{ object }}
        <small>created {{ object.date_created }}</small>
    </h4>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Customer information</h6>
            <table>
                <thead>
                <tr>
                    <th width="200">Name</th>
                    <th width="200">Address</th>
                    <th width="100">Zip code</th>
                    <th width="200">City</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.customer_name }}</td>
                    <td>{{ object.customer_address }}</td>
                    <td>{{ object.customer_zip }}</td>
                    <td>{{ object.customer_city }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Event information</h6>
            <table>
                <thead>
                <tr>
                    <th width="250">Title</th>
                    <th width="225">Start</th>
                    <th width="225">End</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.event_title }}</td>
                    <td>{{ object.event_start|date:"SHORT_DATETIME_FORMAT" }}</td>
                    <td>{{ object.event_end|date:"SHORT_DATETIME_FORMAT" }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Aircraft information</h6>
            <table>
                <thead>
                <tr>
                    <th width="200">Pilot</th>
                    <th width="150">Mark</th>
                    <th width="200">Type</th>
                    <th width="150">Takeoff cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.pilot|default:"-" }}</td>
                    <td>{{ object.aircraft_mark }}</td>
                    <td>{{ object.aircraft_type }}</td>
                    <td>${{ object.aircraft_takeoff_cost|floatformat:"2" }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Extras</h6>
            <table>
                <thead>
                <tr>
                    <th width="100">Quantity</th>
                    <th width="300">Description</th>
                    <th width="150">Unit price</th>
                    <th width="150">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for extra in invoice.invoice_extras.all %}
                    <tr>
                        <td>{{ extra.quantity }}</td>
                        <td>{{ extra.description }}</td>
                        <td>${{ extra.unit_price|floatformat:"2" }}</td>
                        <td>${{ extra.total|floatformat:"2" }}</td>
                    </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td>${{ object.extras_total_no_tax|floatformat:"2" }}</td>
                </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Payment information</h6>
            <table>
                <thead>
                <tr>
                    <th width="550">Ingredient</th>
                    <th width="150">Costs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Aircraft</td>
                    <td>${{ object.aircraft_takeoff_cost|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>Extras</td>
                    <td>${{ object.extras_total_no_tax|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>${{ object.extras_total_no_tax|add:object.aircraft_takeoff_cost|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>Discount ({{ object.discount }}%)</td>
                    <td>${{ object.total_no_tax_discount|floatformat:"2" }}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>{{ object.tax.value }}%</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>${{ object.total|floatformat:"2" }}</strong></td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><strong>Amount outstanding</strong></td>
                    <td><strong>${{ object.amount_outstanding|floatformat:2 }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Receipts</h6>
            <table>
                <thead>
                <tr>
                    <th width="100">ID</th>
                    <th width="200">Received by</th>
                    <th width="250">Date</th>
                    <th width="150">Amount</th>

                </tr>
                </thead>
                <tbody>
                {% for receipt in object.invoice_receipt.all %}
                    <tr>
                        <td><a href="{% url 'receipt-update' receipt.id %}" title="edit">edit</a></td>
                        <td>{{ receipt.get_received_by_display }}</td>
                        <td>{{ receipt.date|date:"SHORT_DATETIME_FORMAT" }}</td>
                        <td>${{ receipt.amount|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'receipt-create' %}?invoice={{ object.id }}" class="button tiny success"
               id="send_email_invoice">Write a receipt</a>

        </div>
    </div>


{% endblock %}

{% block post_extra_js %}
    <script>
        $(function () {
            $('#invoice_msg').hide();
            $('#send_email_invoice').on('click', function () {
                $('#preloader').delay(100).fadeIn('slow');
                $.ajax({
                    url: "{% url 'api.send_email_invoice_to_customer' order_id=object.id %}",
                    method: "GET"
                }).done(function (data) {
                    alert(data.message);
                }).always(function () {
                    $('#preloader').delay(100).fadeOut('slow');
                });
            });
        });
    </script>
{% endblock %}