{% extends "invoice/base.html" %}

{% block content %}
    <h4>Receipt no. {{ object.id }}
        <small>created {{ object.date }}</small>
    </h4>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Receipt information</h6>
            <table>
                <thead>
                <tr>
                    <th width="200">Invoice</th>
                    <th width="200">Amount</th>
                    <th width="200">Received by</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="{% url "invoice-detail" pk=receipt.invoice.pk %}">{{ receipt.invoice }}</a></td>
                    <td>{{ object.amount|floatformat:2 }}</td>
                    <td>{{ object.get_received_by_display }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}

{% block post_extra_js %}

{% endblock %}