{% extends "invoice/base.html" %}

{% block content %}
    <h4>Receipt</h4>
    <table>
        <thead>
        <th width="100">Receipt</th>
        <th width="100">Invoice</th>
        <th width="150">Amount</th>
        <th width="175">Received by</th>
        <th width="175">Date</th>
        </thead>
        <tbody>
        {% for receipt in receipt_list %}
            <tr>
                <td><a href="{% url "receipt-detail" pk=receipt.pk %}">#{{ receipt.id }}</a></td>
                <td><a href="{% url "invoice-detail" pk=receipt.invoice.pk %}">{{ receipt.invoice }}</a></td>
                <td>{{ receipt.amount }}</td>
                <td>{{ receipt.received_by }}</td>
                <td>{{ receipt.date|date:"SHORT_DATETIME_FORMAT" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">0 entries</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}