{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    {% blocktrans %}
        <h1>django-schedule</h1>
    {% endblocktrans %}
    {% blocktrans %}
    <p>This project is a scheduling app. At its core are events that constitute a start and end date implemented via two DateTimeFields together with a some meta datax such as title, description, etc.</p>
    <p>To make it more user friendly there is the idea of EventRelation which links generic objects and an Event object.  The idea is that you will keep more information about the event in these relations such as who is authorized to view them. It could be the case that User is linked to Event to represent who is authorized to view the event, and also User is linked to event to represent who is attending the event.</p>
    <p>The EventRelation has another field called distinction.  So in the previous example we could add an EventRelation which links a User to an Event with the distinction "viewer" and another EventRelation which links a User to an Event with the distinction "attendee."</p>
    {% endblocktrans %}
    {% blocktrans %}
        <h2>Want to see it in action?</h2>
    {% endblocktrans %}
    {% blocktrans %}
        <p>The sample project come with two management commands that enable you to load some data:</p>
        <p><code>./manage.py load_sample_data</code></p>
        <p><code>./manage.py load_example_data</code></p>
    {% endblocktrans %}
    <p><a href="{% url 'schedule' %}">{% trans "The list of available Calendars." %}</a></p><br/>
    {% blocktrans %}
        <h3>Project Owner</h3>
        <ul>
            <li>Tony Hauber</li>
        </ul>
        <h3>Contributors</h3>
        <ul>
            <li>Alex Gaynor</li>
            <li>Bartek Górny</li>
            <li>Rock Howard</li>
            <li>Alik Kurdyukov</li>
            <li>Jannis Leidel</li>
            <li>Yann Malet</li>
            <li>James Pic</li>
            <li>Skylar Saveland</li>
            <li>ptoal</li>
            <li>Wes Winham</li>
        </ul>
    {% endblocktrans %}

{% endblock %}
