
/* CodeRay Syntax Highlighting Styles to match Github */
.CodeRay {
  background-color: #eee;
  border: 1px solid #CCC;
  font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
  color: #000;
  padding: .8em 0 .8em .8em;
  margin-bottom: 1.3em;
  overflow: auto;
}

.CodeRay pre {
  margin: 0;
  font-size: .7em;
  line-height: 1.4em;
  white-space: pre-wrap;
  @media only screen and (min-width: 768px) { font-size: .9em; white-space: pre; }
}

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

.CodeRay .code { width: 100% }

.CodeRay .debug { color:white !important; background:blue !important; }

.CodeRay .annotation { color:#007 }
.CodeRay .attribute-name { color:#f08 }
.CodeRay .attribute-value { color:#700 }
.CodeRay .binary { color:#509; }
.CodeRay .comment  { color:#998; font-style: italic;}
.CodeRay .char { color:#04D }
.CodeRay .char .content { color:#04D }
.CodeRay .char .delimiter { color:#039 }
.CodeRay .class { color:#458; }
.CodeRay .complex { color:#A08; }
.CodeRay .constant { color:teal; }
.CodeRay .color { color:#0A0 }
.CodeRay .class-variable { color:#369 }
.CodeRay .decorator { color:#B0B; }
.CodeRay .definition { color:#099; }
.CodeRay .directive { color:#088; }
.CodeRay .delimiter { color:black }
.CodeRay .doc { color:#970 }
.CodeRay .doctype { color:#34b }
.CodeRay .doc-string { color:#D42; }
.CodeRay .escape  { color:#666; }
.CodeRay .entity { color:#800; }
.CodeRay .error { color: #808; }
.CodeRay .exception { color:#C00; }
.CodeRay .filename { color:#099; }
.CodeRay .function { color:#900; }
.CodeRay .global-variable { color:teal; }
.CodeRay .hex { color:#058; }
.CodeRay .integer  { color:#099; }
.CodeRay .include { color:#B44; }
.CodeRay .inline { color: black }
.CodeRay .inline .inline { background: #ccc }
.CodeRay .inline .inline .inline { background: #bbb }
.CodeRay .inline .inline-delimiter { color: #D14; }
.CodeRay .inline-delimiter { color: #D14; }
.CodeRay .important { color:#f00; }
.CodeRay .interpreted { color:#B2B; }
.CodeRay .instance-variable { color:teal }
.CodeRay .label { color:#970; }
.CodeRay .local-variable { color:#963 }
.CodeRay .octal { color:#40E; }
.CodeRay .predefined { color:#369; }
.CodeRay .preprocessor { color:#579; }
.CodeRay .pseudo-class { color:#00C; }
.CodeRay .predefined-type { color:#074; }
.CodeRay .reserved, .keyword  { color:#000; }

.CodeRay .key { color: #808; }
.CodeRay .key .delimiter { color: #606; }
.CodeRay .key .char { color: #80f; }
.CodeRay .value { color: #088; }

.CodeRay .regexp { background-color:#fff0ff }
.CodeRay .regexp .content { color:#808 }
.CodeRay .regexp .delimiter { color:#404 }
.CodeRay .regexp .modifier { color:#C2C }
.CodeRay .regexp .function  { color:#404; font-weight: bold }

.CodeRay .string { color: #D20; }
.CodeRay .string .string { }
.CodeRay .string .string .string { background-color:#ffd0d0 }
.CodeRay .string .content { color: #D14; }
.CodeRay .string .char { color: #D14; }
.CodeRay .string .delimiter { color: #D14; }

.CodeRay .shell { color:#D14 }
.CodeRay .shell .content { }
.CodeRay .shell .delimiter { color:#D14 }

.CodeRay .symbol { color:#990073 }
.CodeRay .symbol .content { color:#A60 }
.CodeRay .symbol .delimiter { color:#630 }

.CodeRay .tag, .CodeRay .attribute-name { color:#070 }
.CodeRay .tag-special { color:#D70; }
.CodeRay .type { color:#339; }
.CodeRay .variable  { color:#036 }

.CodeRay .insert { background: #afa; }
.CodeRay .delete { background: #faa; }
.CodeRay .change { color: #aaf; background: #007; }
.CodeRay .head { color: #f8f; background: #505 }

.CodeRay .insert .insert { color: #080; }
.CodeRay .delete .delete { color: #800; }
.CodeRay .change .change { color: #66f; }
.CodeRay .head .head { color: #f4f; }
