/* -----------------------------------------
   Footer
----------------------------------------- */
.zurb-footer-top {
  padding: 40px 0;
  color: white;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.zurb-footer-top .row .columns {
  overflow: hidden;
  *zoom: 1;
}

.zurb-footer-top.zurb {
  background-position: 10px 7px;
}
.zurb-footer-top .property {
  text-align: center;
}
.zurb-footer-top .property .property-info {
  padding-top: 35px;

}
.zurb-footer-top .property h2 {
  margin: 0;
  padding: 0 !important;
}
.zurb-footer-top .property h2 a {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  font-family: "zurb-logo";
  font-weight: normal;
  font-size: 1.125em;
  padding: 0;
}
.zurb-footer-top .property h2 a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.zurb-footer-top .property h2 a.services {
  width: 190px;
}
.zurb-footer-top .property h2 a span {
  display: none;
}
.zurb-footer-top .property h2 a strong {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  margin-left: -7px;
}
.zurb-footer-top .property h3 a {
  font-size: 23px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.zurb-footer-top .property h4 {
  font-size: 18px;
  font-weight: 200;
  color: white;
  margin-bottom: 10px;
}
.zurb-footer-top .property p, .zurb-footer-top .property li, .zurb-footer-top .property a {
  font-size: 13px;
  line-height: 21px;
  color: white;
}
.zurb-footer-top .property a {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
}
.zurb-footer-top .property a:hover {
  opacity: 0.8;
}
.zurb-footer-top .property .learn-links, .zurb-footer-top .property .support-links, .zurb-footer-top .property .connect-links {
  padding: 50px 0 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background: url("icons/footer-top-icons.png") no-repeat center 0;
  height: 200px;
  margin-bottom: 30px;
}
.zurb-footer-top .property .learn-links ul, .zurb-footer-top .property .support-links ul, .zurb-footer-top .property .connect-links ul {
  list-style: none;
}
.zurb-footer-top .property .learn-links ul li, .zurb-footer-top .property .support-links ul li, .zurb-footer-top .property .connect-links ul li {
  line-height: 20px;
}
.zurb-footer-top .property .learn-links {
  background-position: center -325px;
}
.zurb-footer-top .property .support-links {
  background-position: center -635px;
}
.zurb-footer-top .property .connect-links {
  padding: 50px 20px 0;
  background-position: center -9px;
}
.zurb-footer-top .property .connect-links .button {
  font-size: 12px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.1);
  color: #FFF !important;
  font-weight: bold;
  text-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  padding: 6px 16px;
}
.zurb-footer-top .global {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.zurb-footer-top .global .footer-link-block {
  font-weight: normal;
  background: url("icons/footer-icons.png") no-repeat 0 0;
  display: block;
  margin: 30px 0 0 0;
}
.zurb-footer-top .global .footer-link-block.services {
  background-position: 0 -198px;
}
.zurb-footer-top .global .footer-link-block.foundation {
  background-position: 0 -398px;
}
.zurb-footer-top .global .footer-link-block.apps {
  background-position: 0 -598px;
}
.zurb-footer-top .global .footer-link-block.expo {
  background-position: 0 -798px;
}
.zurb-footer-top .global .footer-link-block span {
  display: block;
  color: white;
  font-size: 12px;
  padding-left: 40px;
  line-height: 18px;
}
.zurb-footer-top .global .footer-link-block span.title {
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.zurb-footer-bottom {
  background: #333;
  padding: 24px 0 10px;
}
.zurb-footer-bottom .design-border {
  border-bottom: 1px solid #484848;
  padding-bottom: 5px;
  margin-bottom: 25px;
}
.zurb-footer-bottom a.zurb-logo {
  color: #858585;
  font-weight: normal;
  background: url("icons/footer-icons.png") no-repeat 0 3px;
  padding: 25px 0 0 0;
  font-size: 1em;
  display: inline-block;
  font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 90px;
}
.zurb-footer-bottom a.zurb-logo:hover {
  opacity: 0.8;
}
.zurb-footer-bottom ul.zurb-links {
  margin: 0;
  display: inline-block;
}
.zurb-footer-bottom ul.zurb-links li {
  display: block;
  float: left;
  margin-left: 6px;
  font-family: "Proxima Nova Condensed", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
}
.zurb-footer-bottom ul.zurb-links li a {
  color: #666;
  padding: 3px 6px;
}
.zurb-footer-bottom ul.zurb-links li a:hover {
  color: #777;
}
.zurb-footer-bottom p.copyright {
  margin: 6px 0 0;
  font-size: 12px;
  color: #666;
}
.zurb-footer-bottom ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px;
}
.zurb-footer-bottom ul.home-social li {
  list-style: none;
  display: block;
  float: left;
  margin-left: 10px;
}
.zurb-footer-bottom ul.home-social li:first-child {
  margin-left: 0;
}
.zurb-footer-bottom ul.home-social li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("icons/social.png") no-repeat center 0;
}
.zurb-footer-bottom ul.home-social li a:hover {
  opacity: 0.8;
}
.zurb-footer-bottom ul.home-social li a.twitter {
  background-position: center 0;
}
.zurb-footer-bottom ul.home-social li a.facebook {
  background-position: center -200px;
}
.zurb-footer-bottom ul.home-social li a.mail {
  background-position: center -400px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .zurb-footer-top .property {
    padding-top: 0;
  }
  .zurb-footer-top .property .learn-links, .zurb-footer-top .property .support-links, .zurb-footer-top .property .connect-links {
    height: 240px;
    padding: 50px 10px 0;
  }
}
@media only screen and (max-width: 767px) {
  .zurb-footer-top .property .property-info {
    padding-top: 0;
  }


  .zurb-footer-top .property .learn-links, .zurb-footer-top .property .support-links, .zurb-footer-top .property .connect-links {
    border: none;
    height: auto;
    padding: 80px 20px 0;
    margin: 4px 0 0 0;
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
  }
  .zurb-footer-top .property .learn-links li a, .zurb-footer-top .property .support-links li a, .zurb-footer-top .property .connect-links li a {
    font-size: 15px;
    line-height: 2;
  }
  .zurb-footer-top .property .learn-links p, .zurb-footer-top .property .learn-links a, .zurb-footer-top .property .support-links p, .zurb-footer-top .property .support-links a, .zurb-footer-top .property .connect-links p, .zurb-footer-top .property .connect-links a {
    font-size: 16px;
  }
  .zurb-footer-top .property .learn-links {
    background: none;
    border: none;
    padding-top: 0;
    margin: 0;
  }
  .zurb-footer-top .property .support-links {
    padding: 76px 20px 0;
    background-position: center -618px;
  }
  .zurb-footer-top .property .connect-links {
    padding: 76px 20px 14px;
    background-position: center 10px;
  }
  .zurb-footer-top .global {
    border: none;
  }
  .zurb-footer-top .footer-link-block span {
    font-size: 0.6875em;
    line-height: 16px;
  }
  .zurb-footer-top .footer-link-block.services {
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    padding-top: 40px;
    margin-top: 0;
    background-position: 0 -158px !important;
  }

  .zurb-footer-bottom {
    text-align: center;
  }
  .zurb-footer-bottom .columns {
    padding: 0;
  }
  .zurb-footer-bottom a.zurb-logo {
    display: block;
    margin: 0 auto;
  }
  .zurb-footer-bottom ul.zurb-links {
    margin: 16px 0 10px;
  }
  .zurb-footer-bottom ul.home-social {
    float: none;
    margin: 0 0 20px 0;
    text-align: center;
    height: 44px;
    display: inline-block;
  }
}

/* Reformating pillars */
@media only screen and (max-width: 767px) {

  .zurb-footer-bottom p.copyright {
    margin-bottom: 20px !important;
  }

  .zurb-footer-top .property h3 a {
    font-size: 23px !important;
  }

  .zurb-footer-top .property .connect-links {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
  }

  .zurb-footer-top .global .footer-link-block {
    padding-top: 50px;
    text-align: center;
    margin: 0 !important;
    clear: both;
  }
  .zurb-footer-top .global .footer-link-block span {
    padding-left: 0;
  }
  .zurb-footer-top .global .footer-link-block.services {
    border-top: 0;
    background-position: 73px -190px !important;
  }
  .zurb-footer-top .global .footer-link-block.foundation {
    background-position: 73px -390px !important;
  }
  .zurb-footer-top .global .footer-link-block.apps {
    padding-top: 80px;
    background-position: 73px -558px !important;
  }
  .zurb-footer-top .global .footer-link-block.expo {
    padding-top: 80px;
    background-position: 73px -758px !important;
  }
}
@media only screen and (max-width: 320px) {
  .zurb-footer-top .property h3 a {
    font-size: 23px !important;
  }

  .zurb-footer-bottom ul.zurb-links li a {
    font-size: 12px;
  }

  .zurb-footer-top .property .connect-links {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
  }

  .zurb-footer-top .global .footer-link-block {
    padding-top: 50px;
    text-align: center;
    margin: 0 !important;
    clear: both;
  }
  .zurb-footer-top .global .footer-link-block span {
    padding-left: 0;
  }
  .zurb-footer-top .global .footer-link-block.services {
    border-top: 0;
    background-position: 55px -190px !important;
  }
  .zurb-footer-top .global .footer-link-block.foundation {
    background-position: 55px -390px !important;
  }
  .zurb-footer-top .global .footer-link-block.apps {
    padding-top: 80px;
    background-position: 55px -558px !important;
  }
  .zurb-footer-top .global .footer-link-block.expo {
    padding-top: 80px;
    background-position: 55px -758px !important;
  }
}
.zurb-footer-top.bg-blue {
  background: #1399bd;
}
.zurb-footer-top.bg-red {
  background: #e13626;
}
.zurb-footer-top.bg-fblue {
  background: #13A7C7;
}
.zurb-footer-top.bg-green {
  background: #B8D30B;
}
.zurb-footer-top.bg-dgreen {
  background: #afc908;
}
.zurb-footer-top.bg-magenta {
  background: #A9014B;
}
.zurb-footer-top.bg-orange {
  background: #FF5C00;
}
.zurb-footer-top.bg-lorange {
  background: #FF6908;
}
.zurb-footer-top.bg-oyellow {
  background: #FC9200;
}
.zurb-footer-top.bg-loyellow {
  background: #FFB515;
}


