@import "settings";
@import "foundation";
//@import "coderay";
@import "footer";
@import "offcanvas";

#changelog {
  ol, li {list-style: disc; margin-left: 30px;}
}

/* Pygments */

.highlight {
  background-color: #eee;
  border: 1px solid #CCC;
  font-family: 'Consolas', 'Liberation Mono', Courier, monospace;
  color: #000;
  padding: .8em 0 .8em .8em;
  margin-bottom: 1.3em;
  overflow: auto;
}

.highlight pre {
  margin: 0;
  font-size: .7em;
  line-height: 1.4em;
  white-space: pre-wrap;
  @media only screen and (min-width: 768px) { font-size: .9em; white-space: pre; }
}

.html, .css, .scss, .js { position: relative; }

.highlight {
  ul, ol, dl { list-style-position: inside; }
}

.highlight:before {
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  color: #ccc;
  font-size: .75em;
}

.html > .highlight:before {content:"HTML";}
.scss > .highlight:before {content:"SCSS";}
.css > .highlight:before {content:"SCSS";}
.sass > .highlight:before {content:"SCSS";}
.js > .highlight:before {content:"JS";}
.json > .highlight:before {content:"JSON";}

.highlight {
.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
}



/* Docs Footer Styles */
.row.full-width {
  max-width: 100%;
}
footer.row.full-width {
  padding-top: 30px;
  border-top: solid 1px #ddd;
  font-size: 14px;
}

#kitchen-sink .f-dropdown.content {padding:0 !important;}

#copyright {
  background: #3f3f3f;
  color: #fff;
  padding: 11px 0;
  margin-top: 30px;

  a {
    color: #fff;
    font-size: 14px;
  }

  p,
  ul { margin-bottom: 0; }
}

.docs.header { margin-bottom: 10px; }
.docs.subheader {
  float: $default-float;
}

.docs.section-container a.active { font-weight: bold; }


/* Alert Docs */
.alert-base {
  @include alert-base;

  &.bg { @include alert-style; }
  &.custom-bg { @include alert-style(#ff6c3c); }
  &.radius { @include radius; }
  .close { @include alert-close; }
}

/* Breadcrumb Docs */
.crumb-container {
  @include crumb-container;
  &.radius { @include radius; }
  &.crumbs li { @include crumbs; }
}

/* Button Docs */
.buttony.custom { @include button(1.1em, #FF94CB, 20px); }

.button-base {
  @include button-base;
  &.size { @include button-size; }
  &.style { @include button-style; }
  &.shine { @include single-transition(background-color); @include radius; @include inset-shadow(); }
}

/* Button Group Docs */
.button-group-docs {
  @include button-group-container;
  .button-class { @include button; }
  &.list li { @include button-group-style; }
  &.extras {
    li { @include button-group-style(true); }
    .button-class { @include inset-shadow; @include single-transition(background-color); }
  }
}

/* Forms Docs */
.attached-label {
  @include prefix-postfix-base;
  @include grid-column($columns:3,$float:left);
  &.style { @include prefix; }
  &.custom { @include prefix(orange); }
}

input[type="text"].attached-input {
  @include grid-column($columns:9);
}

/* Dropdown Buttons Docs */
.customized-dropdown-docs {
  @include button;
  @include dropdown-button;
  @include radius;
  @include single-transition;
  @include inset-shadow;
}

/* Keystroke Docs */
.custom-keystroke kbd { @include keystroke(orange);}

/* Label Docs */
.label-custom {
  @include label(0 10px,11px,pink,6px);
}

/* Panels Docs */
.panel-custom { @include panel(pink,40px); }

/* Progress Bar Docs */
.progress-custom {
  @include progress-container;
  @include radius(6px);
  & > span {
    @include progress-meter(pink);
    @include radius(5px);
  }
}

/* Side Nav Docs */
.side-nav-custom { @include side-nav(darken(orange, 20%),16px,orange); }

/* Sub Nav Docs */
.sub-nav-custom { @include sub-nav(orange,11px,orange); }

/* Thumbs Docs */
.th-custom {
  @include thumb(10px,0 0 0 2px black, 0 0 10px 2px rgba(orange,0.5));
  @include radius(6);
  @include single-transition(all,400ms,ease-in);
}

/* Grid Docs */
#masthead { @include grid-row; @include panel;
  & > hgroup { @include grid-column(4, $float:$default-float); }
  & > section { @include grid-column(8, $float:$default-float); }
}

/* Switch Docs */
.switch-custom { @include switch(700ms, ease-in-out, 50px, 18px, 2.6em, #888, lighten(yellow, 30%), lighten(red, 40%)); }
.switch-custom-base { @include switch-base;
  &.size { @include switch-size; }
  &.style { @include switch-style; }
}

/* ZURBjobs */
.jobs {
  border: 1px solid #eee;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.1;
  ul { list-style: none;
    li { margin-bottom: 10px; }
  }
  .location {
    display: block;
    color: #555;
  }
}

header { background-color: #2ba6cb; padding: 15px 0; margin-bottom: 25px; }

/* Section Docs */
.section-auto-sample {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }

  @media #{$small} {
    @include section-container(false,$section-type:tabs);
    & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}

.section-auto-sample-accordion {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}

.section-auto-sample-tabs {
  @include section-container($section-type:tabs);
  & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
}

.section-auto-sample-vtabs,
.section-auto-sample-vnav,
.section-auto-sample-hnav {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}

@media #{$small} {
  .section-auto-sample-vtabs {
    @include section-container($section-type:vertical-tabs);
    & > section { @include section($section-type:vertical-tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }

  .nav-container { @include grid-row($behavior:nest);
    > nav { @include grid-column($columns:4); }
  }

  .section-auto-sample-vnav {
    @include section-container($section-type:vertical-nav);
    & > section { @include section($section-type:vertical-nav, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }

  .section-auto-sample-hnav {
    @include section-container($section-type:horizontal-nav);
    & > section { @include section($section-type:horizontal-nav, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }

}
.section-auto-sample-custom {
  @include section-container($section-type:tabs);
  & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample", $title-padding: 10px 50px, $title-color:#000, $title-bg:pink, $title-bg-hover:darken(pink,5%), $title-bg-active: #fff, $title-color-active: darken(pink,10%)); }
}

.drop-wrapper {
  position: relative;
  display: inline;
}

@media only screen and (min-width: 800px) {
  .docs.header { float: $default-float; }

  .docs.subheader {
    margin-top: 38px;
    float: $opposite-direction;
  }
}
