<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%%= stylesheet_link_tag    "application" %>
    <%%= javascript_include_tag "vendor/custom.modernizr" %>
    <%%= csrf_meta_tags %>
  </head>

  <body>

    <%%= yield %>

    <% if false %>
      <script>
        document.write('<script src=' +
        ('__proto__' in {} ? '<%%= asset_path("vendor/zepto") %>' : '<%%= asset_path("jquery") %>') +
        '><\/script>');
      </script>

      <script>
        // Ensure rails_ujs works with Zepto
        $.fn.ajaxSend = function(callback) {
          return this.each(function(){
            $(this).on('ajaxBeforeSend', callback);
          });
        };
        var jQuery = $;
      </script>
    <% end %>
    <%%= javascript_include_tag "application" %>
  </body>
</html>
