<div class="docs section-container accordion" data-section="accordion">
  <section class="section <%= @side_nav == 'using' ? 'active': '' %>">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../">Get Started</a></li>
        <li><a href="../javascript.html">Javascript</a></li>
        <li><a href="../sass.html">Sass</a></li>
        <li><a href="../rails.html">Rails</a></li>
        <li><a href="../media-queries.html">Media Queries</a></li>
        <li><a class="<%= @page_title == 'Visibility Classes' ? 'active': '' %>" href="visibility.html">Visibility Classes</a></li>
        <li><a href="../rtl.html">Right-to-Left Support</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'grid' ? 'active': '' %>">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Grid' ? 'active': '' %>" href="grid.html">Grid</a></li>
        <li><a class="<%= @page_title == 'Block Grid' ? 'active': '' %>" href="block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'nav' ? 'active': '' %>">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Pagination' ? 'active': '' %>" href="pagination.html">Pagination</a></li>
        <li><a class="<%= @page_title == 'Side Nav' ? 'active': '' %>" href="side-nav.html">Side Nav</a></li>
        <li><a class="<%= @page_title == 'Sub Nav' ? 'active': '' %>" href="sub-nav.html">Sub Nav</a></li>
        <li><a class="<%= @page_title == 'Top Bar' ? 'active': '' %>" href="top-bar.html">Top Bar</a></li>
        <li><a class="<%= @page_title == 'Breadcrumbs' ? 'active': '' %>" href="breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'buttons' ? 'active': '' %>">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Buttons' ? 'active': '' %>" href="buttons.html">Buttons</a></li>
        <li><a class="<%= @page_title == 'Button Groups' ? 'active': '' %>" href="button-groups.html">Button Groups</a></li>
        <li><a class="<%= @page_title == 'Dropdown Buttons' ? 'active': '' %>" href="dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a class="<%= @page_title == 'Split Buttons' ? 'active': '' %>" href="split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'forms' ? 'active': '' %>">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Forms' ? 'active': '' %>" href="forms.html">Forms</a></li>
        <li><a class="<%= @page_title == 'Custom Forms' ? 'active': '' %>" href="custom-forms.html">Custom Forms</a></li>
        <li><a class="<%= @page_title == 'Switch' ? 'active': '' %>" href="switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'type' ? 'active': '' %>">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Typography' ? 'active': '' %>" href="type.html">Type</a></li>
        <li><a class="<%= @page_title == 'Inline Lists' ? 'active': '' %>" href="inline-lists.html">Inline Lists</a></li>
        <li><a class="<%= @page_title == 'Labels' ? 'active': '' %>" href="labels.html">Labels</a></li>
        <li><a class="<%= @page_title == 'Keystrokes' ? 'active': '' %>" href="keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'css' ? 'active': '' %>">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Global' ? 'active': '' %>" href="global.html">Global Styles</a></li>
        <li><a class="<%= @page_title == 'Alert Boxes' ? 'active': '' %>" href="alert-boxes.html">Alert Boxes</a></li>
        <li><a class="<%= @page_title == 'Panels' ? 'active': '' %>" href="panels.html">Panels</a></li>
        <li><a class="<%= @page_title == 'Pricing Tables' ? 'active': '' %>" href="pricing-tables.html">Pricing Tables</a></li>
        <li><a class="<%= @page_title == 'Progress Bars' ? 'active': '' %>" href="progress-bars.html">Progress Bars</a></li>
        <li><a class="<%= @page_title == 'Tables' ? 'active': '' %>" href="tables.html">Tables</a></li>
        <li><a class="<%= @page_title == 'Thumbnails' ? 'active': '' %>" href="thumbnails.html">Thumbnails</a></li>
        <li><a class="<%= @page_title == 'Flex Video' ? 'active': '' %>" href="flex-video.html">Flex Video</a></li>
        <li class="divider"></li>
        <li><a target="_blank" style="font-style: italic" class="<%= @page_title == 'Kitchen Sink' ? 'active': '' %>" href="kitchen-sink.html">Kitchen Sink</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'js' ? 'active': '' %>">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Abide' ? 'active': '' %>" href="abide.html">Abide</a></li>
        <li><a class="<%= @page_title == 'Clearing' ? 'active': '' %>" href="clearing.html">Clearing</a></li>
        <li><a class="<%= @page_title == 'Dropdown' ? 'active': '' %>" href="dropdown.html">Dropdown</a></li>
        <li><a class="<%= @page_title == 'Interchange' ? 'active': '' %>" href="interchange.html">Interchange</a></li>
        <li><a class="<%= @page_title == 'Joyride' ? 'active': '' %>" href="joyride.html">Joyride</a></li>
        <li><a class="<%= @page_title == 'Magellan' ? 'active': '' %>" href="magellan.html">Magellan</a></li>
        <li><a class="<%= @page_title == 'Orbit' ? 'active': '' %>" href="orbit.html">Orbit</a></li>
        <li><a class="<%= @page_title == 'Reveal' ? 'active': '' %>" href="reveal.html">Reveal</a></li>
        <li><a class="<%= @page_title == 'Sections' ? 'active': '' %>" href="section.html">Section</a></li>
        <li><a class="<%= @page_title == 'Tooltips' ? 'active': '' %>" href="tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @page_title == 'FAQ' ? 'active': '' %>">
    <p class="title"><a href="../faq.html">FAQ</a></p>
  </section>
  <section class="section <%= @page_title == 'Support' ? 'active': '' %>">
    <p class="title"><a href="../support.html">Support</a></p>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Download Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <div id="zurbJobsWidget"></div>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>
