<div class="docs section-container accordion" data-section="accordion" data-options="one_up: false">
  <section class="section <%= @side_nav == 'using' ? 'active': '' %>">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Getting Started' ? 'active': '' %>" href="index.html">Get Started</a></li>
        <li><a class="<%= @page_title == 'Javascript' ? 'active': '' %>" href="javascript.html">Javascript</a></li>
        <li><a class="<%= @page_title == 'Sass' ? 'active': '' %>" href="sass.html">Sass</a></li>
        <li><a class="<%= @page_title == 'Rails' ? 'active': '' %>" href="rails.html">Rails</a></li>
        <li><a class="<%= @page_title == 'Media Queries' ? 'active': '' %>" href="media-queries.html">Media Queries</a></li>
        <li><a href="components/visibility.html">Visibility Classes</a></li>
        <li><a class="<%= @page_title == 'Right-to-Left Support' ? 'active': '' %>" href="rtl.html">Right-to-Left Support</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/grid.html">Grid</a></li>
        <li><a href="components/block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/pagination.html">Pagination</a></li>
        <li><a href="components/side-nav.html">Side Nav</a></li>
        <li><a href="components/sub-nav.html">Sub Nav</a></li>
        <li><a href="components/top-bar.html">Top Bar</a></li>
        <li><a href="components/breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/buttons.html">Buttons</a></li>
        <li><a href="components/button-groups.html">Button Groups</a></li>
        <li><a href="components/dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a href="components/split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/forms.html">Forms</a></li>
        <li><a href="components/custom-forms.html">Custom Forms</a></li>
        <li><a href="components/switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/type.html">Type</a></li>
        <li><a href="components/inline-lists.html">Inline Lists</a></li>
        <li><a href="components/labels.html">Labels</a></li>
        <li><a href="components/keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/global.html">Global Styles</a></li>
        <li><a href="components/alert-boxes.html">Alert Boxes</a></li>
        <li><a href="components/panels.html">Panels</a></li>
        <li><a href="components/pricing-tables.html">Pricing Tables</a></li>
        <li><a href="components/progress-bars.html">Progress Bars</a></li>
        <li><a href="components/tables.html">Tables</a></li>
        <li><a href="components/thumbnails.html">Thumbnails</a></li>
        <li><a href="components/flex-video.html">Flex Video</a></li>
        <li class="divider"></li>
        <li><a target="_blank" style="font-style: italic" href="components/kitchen-sink.html">Kitchen Sink</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="components/abide.html">Abide</a></li>
        <li><a href="components/clearing.html">Clearing</a></li>
        <li><a href="components/dropdown.html">Dropdown</a></li>
        <li><a href="components/interchange.html">Interchange</a></li>
        <li><a href="components/joyride.html">Joyride</a></li>
        <li><a href="components/magellan.html">Magellan</a></li>
        <li><a href="components/orbit.html">Orbit</a></li>
        <li><a href="components/reveal.html">Reveal</a></li>
        <li><a href="components/section.html">Section</a></li>
        <li><a href="components/tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @page_title == 'FAQ' ? 'active': '' %>">
    <p class="title"><a href="faq.html">FAQ</a></p>
  </section>
  <section class="section <%= @page_title == 'Support' ? 'active': '' %>">
    <p class="title"><a href="support.html">Support</a></p>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Download Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <div id="zurbJobsWidget"></div>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>
