<% @side_nav = "using" %>

<div class="row">
  <div class="large-9 push-3 columns">
    <% @page_title = "Javascript" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Foundation 4 streamlines the implementation of the Foundation plugins by combining them all into a single plugin under the <code>$.fn.foundation()</code> Zepto/jQuery namespace.</h4>
        <hr>

        <h2>Installation</h2>
        <p>Foundation JavaScript was designed to work with <a href="http://zeptojs.com/" title="Zepto Docs">Zepto</a> and <a href="http://jquery.com/" title="jQuery Docs">jQuery</a> right out of the gate. Zepto is not supported by all browsers, so as suggested in the Zepto documentation, you should test for compatibility and load Zepto or jQuery as necessary.</p>

        <h5>Include Libraries</h5>
        <p>In the <code>head</code> section of your page add Modernizr. Modernizr acts as a shim for HTML5 elements for older browsers as well as detection for mobile devices.</p>

<%= code_example '
<script src="/js/custom.modernizr.js"></script>
', :html %>

        <p>Before the closing <code>body</code> tag, insert the following JavaScript.</p>

<%= code_example "
<!-- Check for Zepto support, load jQuery if necessary -->
<script>
  document.write('<script src=/js/vendor/'
    + ('__proto__' in {} ? 'zepto' : 'jquery')
    + '.js><\\\/script>');
</script>
", :html %>

        <p>Then include either <code>foundation.min.js</code>, which includes Foundation Core and all JavaScript plugins or you can load them individually. The minified version is not available in the Compass version.</p>

<%= code_example '
<script src="/js/foundation.min.js"></script>

<!-- or individually -->

<script src="/js/foundation.js"></script>
<script src="/js/foundation.alerts.js"></script>
<!-- ... -->
<script src="/js/foundation.dropdown.js"></script>
<script src="/js/foundation.section.js"></script>
', :html %>

        <h5>Initialize Foundation</h5>
        <p>After you have included the Foundation JavaScript, just add a simple call to initialize all plugins on your page.</p>
        <p>It is recommended that you initialize Foundation at the end of the page <code>&lt;body&gt;</code>.</p>

<%= code_example '
<script>
  $(document).foundation();
</script>
', :html %>

        <p><strong>Note:</strong> We include tested versions of jQuery and Zepto in the Foundation repo to get you started quickly. If you want to build your own version of Zepto, Foundation employs the <i>event</i>, <i>fx_methods</i>, <i>assets</i>, <i>data</i>, <i>selector</i>, and <i>stack</i> modules.</p>

        <hr>

        <h2>Configuration</h2>

        <p>Foundation accepts a myriad of options for initialization. By default, calling <code>$('#scope').foundation();</code> will initialize all available plugins on the page. Alternatively, you can pass individual plugins along with configuration options and a callback. This will allow you to select specific plugins to start on your page, even if their source is included. You can take a look at the call here:</p>

<%= code_example "
$(document).foundation('section', {deep_linking: true}, function (response) {
  console.log(response.errors);
});
", :js %>

        <p>The call will initialize the Section plugin on the page with deep linking enabled and pass back a response object with any errors that may have occurred.</p>

        <p>You can initialize multiple libraries within the same call as well. Here are a few ways this can be done:</p>

<%= code_example "
$(document).foundation('section dropdown alerts', {callback: myCallbackFunction}, function (response) {
  console.log(response.errors);
});

// alternative, no configuration

$(document).foundation('section dropdown alerts', function (response) {
  console.log(response.errors);
});

// alternative, all plugins, only callback

$(document).foundation(function (response) {
  console.log(response.errors);
});

// alternative, only plugin, no config or callback

$(document).foundation('section');
", :js %>

        <p>Keep in mind, if you initialize multiple plugins at one time and pass a configuration object that object will get passed to all plugins that were initialized. So in the first example: section, dropdown, and alerts will all get passed the <code>myCallbackFunction</code> on initialization.</p>

        <p>What if you wanted to pass the <code>myCallbackFunction</code> only to Section and still initialize the other plugins as well? You could do the following.</p>

<%= code_example "
$(document)
  .foundation('dropdown alerts')
  .foundation('section', {callback: myCallbackFunction});
", :js %>

        <hr>

        <h2>Calling Internal Methods</h2>

        <p>Foundation 4 JavaScript allows you call internal plugin methods by passing the method name as the second argument. This is necessary for plugins like Joyride, since they are not initialized on page load by default.</p>

        <p>This will fire the <code>start</code> method on Joyride:</p>

<%= code_example "
$(document).foundation('joyride', 'start');
", :js %>

        <h5>Unbind Events</h5>

        <p>All plugins can be unbound from the DOM by firing the <code>off</code> event either on that plugin or globally to unbind all Foundation events.</p>

<%= code_example "
$(document).foundation('tooltips', 'off');

// or globally

$(document).foundation('off');
", :js %>
      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar.html.erb" %>
  </div>
</div>
