<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/docs/img/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/docs/img/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/docs/img/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/docs/img/favicons/apple-touch-icon-precomposed.png">
    <link rel="icon" href="/docs/img/favicons/favicon.ico" type="image/x-icon">
    <title>Foundation Docs: <%= @page_title %></title>
    <link rel="stylesheet" href="<%= asset_path %>/normalize.css" />
    <link rel="stylesheet" href="<%= asset_path %>/docs.css" />
    <script src="<%= asset_path %>/vendor/custom.modernizr.js"></script>
  </head>
  <body class="antialiased off-canvas hide-extras">
     <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="<%= features_path %>">Features</a></li>
          <li class="divider"></li>
          <li><a href="<%= add_ons_path %>">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="<%= case_studies_path %>">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="<%= docs_path %>">Docs</a></li>
          <li class="divider"></li>
          <li><a href="<%= training_path %>">Training</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>
    <section class="main">
     
      
      <header class="show-for-small">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" ><img src="<%= asset_path %>/offcanvas/menu-wht.png" alt="ZURB Menu"><h4>Foundation</h4></a>
      </header>
  
      <% @page_title = "4 Documentation" %>
      <div class="row">
        <div class="large-12 columns">
          <h1 class="docs header"><a href="http://foundation.zurb.com/docs/">Foundation <%= @page_title %></a></h1>
          <h6 class="docs subheader"><a href="http://foundation.zurb.com/old-docs/f3">Want F3 Docs?</a></h6>
          <hr>
        </div>
      </div>
  
      <%= yield %>
      <br>
      <div class="zurb-footer-top bg-blue">
      <div class="row property">
        <div class="large-4 columns">
        	<div class="property-info">
            <h3><a href="http://foundation.zurb.com/">Foundation</a></h3>
            <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 15 years of experience building web products, services and websites into this framework.</p>
        	</div>
        </div>
        
        <div class="large-8 columns">
          <div class="row collapse">
    	      <div class="large-4 columns">
    		      <div class="learn-links">
    		        <h4 class="hide-for-small">Want More?</h4>
    		        <ul>
    		          <li><a href="http://zurb.com/university/foundation-intro">Foundation Training</a></li>
    		          <li><a href="http://zurb.com/university/custom">Responsive</a></li>
    		          <li><a href="http://zurb.com/studios/our-work">Our Work</a></li>
    		          <li><a href="http://zurb.com/apps">ZURB Apps</a></li>
    		        </ul>
    		      </div>
      		  </div>
    	      <div class="large-4 columns">
    		      <div class="support-links">
    	          <h4 class="hide-for-small">Talk to us</h4>
    	          <p>Call us at <strong>(408) 341-0600</strong></p>
    	          <p>Not a big talker? Email us at <a href="mailto:foundation@zurb.com">foundation@zurb.com</a></p>
    		      </div>
    	      </div>
            <div class="large-4 columns">
    	        <div class="connect-links">
    	          <h4 class="hide-for-small">Stay in touch</h4>
    	          <p>Keep up with the latest on Foundation. Find us on Github.</p>
    	          <a href="https://github.com/zurb/foundation" target="_blank" class="small button">Stay Connected</a>         
    	        </div>
    	      </div>
          </div> 
        </div>
      </div>
      <div class="row global">
        <div class="large-3 small-6 columns">
          <a href="http://zurb.com/studios" class="footer-link-block services">
            <span class="title">Studios</span>
            <span>Helping more than 200 startups succeed since 1998.</span>
          </a>
        </div>
        <div class="large-3 small-6 columns">
          <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
            <span class="title">Foundation</span>
            <span>The most advanced front-end framework in the world.</span>
          </a>
        </div>
        <div class="large-3 small-6 columns">
          <a href="http://zurb.com/apps" class="footer-link-block apps">
            <span class="title">Products</span>
            <span>Prototype, iterate and collect feedback on your products.</span>
          </a>
        </div>
        <div class="large-3 small-6 columns">
          <a href="http://zurb.com/university" class="footer-link-block expo">
            <span class="title">University</span>
            <span>Ideas, thoughts and design resources shared with you.</span>
          </a>
      </div>
      </div>
    </div>
      <div class="zurb-footer-bottom">
      <div class="row">
        <div class="large-4 push-8 columns">
          <ul class="home-social">
              <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
              <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
              <li><a href="http://zurb.com/contact" class="mail"></a></li>
            </ul>
         </div>
         <div class="large-8 pull-4 columns">
            <a href="http://www.zurb.com" class="zurb-logo regular"></a>
            <ul class="zurb-links">
              <li><a href="http://zurb.com/about">About</a></li>
              <li><a href="http://zurb.com/blog">Blog</a></li>
              <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
              <li><a href="http://zurb.com/contact">Contact</a></li>
              <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
           </ul>
           <p class="copyright">&copy; 1998&ndash;<%= Time.now.year %> ZURB, Inc. All rights reserved.</p>
        </div>          
      </div>
    </div>
    <div class="joyride-modal-bg"></div>
    </section>
    
    
    <aside id="sidebar" role="complementary">
      
      <!-- For Future Use		
      <div id="passport">
        <a id="user" href="#">
      		<h5>Firstname LastName</h5><br>
      		<p>sign out</p>
        </a>
        <a id="ava" href="#">
    		  <div class="avatar"><img src="placehold.it/75x75"></div>
    		</a>
      </div>
      -->
    	
    	<!-- This is the apps main navigation -->	  		  
      <div class="main-menu">
    		<h6>Foundation</h6>
    		<nav id="sideMenu" role="navigation">
    			<ul id="sideMainNav" class="nav-bar">
    			  <li class="show-for-small">
            <a href="index.html">Home</a>
          </li>
    			<li>
    			  <a href="http://foundation.zurb.com/grid.php">Features</a>
    			</li>
          <li>
            <a href="http://foundation.zurb.com/templates.php">Add-ons</a>
          </li>
    			<li>
    			  <a href="http://foundation.zurb.com/case-jacquelinewest.php">Case Studies</a>
    			</li>
    			<li>
    			  <a href="http://foundation.zurb.com/docs/">Docs</a>
    			</li>
    			<li>
    			  <a href="http://foundation.zurb.com/training.php">Training</a>
    			</li>
    			</ul>
    		</nav> 			
      </div>
    		
    	<hr>
    	
    	<!-- These links will vary depending on what app it is -->	
      <div class="more-goodness">		
    		<h6>More ZURB Goodness</h6>
    		<nav role="navigation">
    		  <ul id="secondarySideMainNav" class="nav-bar goodness">
            <li><a href="http://zurb.com/university/foundation-intro">Foundation Training</a></li>
            <li><a href="http://zurb.com/studios/our-work">Our Work</a></li>
            <li><a href="http://zurb.com/apps">ZURB Apps</a></li>
    			</ul>
    		</nav>
      </div>
      
      <hr>
      
      <!-- These links will be the same across all of our proprties & apps -->
      <div class="zurb-links">		
    		<ul class="top">
      		<li class="logo"><a href="http://zurb.com"><img src="<%= asset_path %>/offcanvas/zurb-logo.png" alt="ZURB"></a></li>
      		<li><a href="http://zurb.com/about">About</a></li>
      		<li><a href="http://zurb.com/blog">Blog</a></li>
      		<li><a href="http://zurb.com/contact">Contact</a></li>
    		</ul>
    		<ul class="pillars">
      		<li>
      		  <a href="http://www.zurb.com/studios" class="footer-link-block services">
              <span class="title">Studios</span>
              <span>Helping startups win since '98.</span>
            </a>
          </li>
          <li>
      		  <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
              <span class="title">Foundation</span>
              <span>World's most advanced responsive framework.</span>
            </a>
          </li>
          <li>
      		  <a href="http://zurb.com/apps" class="footer-link-block apps">
              <span class="title">ZURB Apps</span>
              <span>Tools to rapidly prototype and iterate.</span>
            </a>
          </li>
          <li>
      		  <a href="http://zurb.com/university" class="footer-link-block expo">
              <span class="title">University</span>
              <span>Online training for smarter product design.</span>
            </a>
          </li> 
    		</ul>
      </div>
    	
    </aside>

  <!-- Reveal Modals begin -->
  <div id="firstModal" class="reveal-modal">
    <h2>This is a modal.</h2>
    <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
    <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p>
    <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="secondModal" class="reveal-modal">
    <h2>This is a second modal.</h2>
    <p>See? It just slides into place after the other first modal. Very handy when you need subsequent dialogs, or when a modal option impacts or requires another decision.</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="videoModal" class="reveal-modal large">
    <h2>This modal has video</h2>
    <div class="flex-video">
      <iframe width="800" height="315" src="http://www.youtube.com/embed/IkOQw96cfyE" frameborder="0" allowfullscreen></iframe>
    </div>

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- Reveal Modals end -->
    

    <script>

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(
        ['_setAccount', 'UA-2195009-2'],
        ['_trackPageview'],
        ['b._setAccount', 'UA-2195009-27'],
        ['b._trackPageview']
      );

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      document.write('<script src="<%= asset_path %>/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
   
    <script src="<%= asset_path %>/docs.js"></script>
    <script>
      $(document)
      <% if @joyride %>
        .foundation()
        .foundation('joyride', 'start');
      <% else %>
        .foundation();
      <% end %>

      $.ajax({
        url: '//zurb.com/jobs/widgets/jobs.json?limit=3',
        dataType: 'jsonp',
        success: function(data) {
          var list = $("<ul></ul>");
          $.each(data.jobs, function(idx, job) {
            var item = "<li><a href='"+job.url+"' target='_blank'>" +
              "<span class='positionTitle'>"+job.title+"</span>" +
              "<span class='location'><span class='companyName'>"+job.company_name+"</span> in "+job.location+"</span>" +
              "</a>" +
              "</li>";
            list.append(item);
          });
            // Customize This
          $("#zurbJobsWidget").html(list);
        }
      });

      // For Kitchen Sink Page
      $('#start-jr').on('click', function() {
        $(document).foundation('joyride','start');
      });
      
    </script>
  </body>
</html>
