{% extends "customer/base.html" %}

{% block content %}
    <h4>Customer {{ object }}</h4>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Customer information</h6>
            <table>
                <thead>
                <tr>
                    <th width="200">Name</th>
                    <th width="200">Company</th>
                    <th width="150">Email</th>
                    <th width="150">Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.company }}</td>
                    <td>{{ object.email|default:"-" }}</td>
                    <td>{{ object.phone|default:"-" }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h6 class="subheader">Customer address</h6>
            <table>
                <thead>
                <tr>
                    <th width="400">Address</th>
                    <th width="200">City</th>
                    <th width="100">Zip code</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ object.address }}</td>
                        <td>{{ object.city }}</td>
                        <td>{{ object.zipcode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}