{% extends "customer/base.html" %}

{% block content %}
    <h4>Customer</h4>
    <table>
        <thead>
        <th>Name</th>
        <th>Company</th>
        <th>Zipcode</th>
        </thead>
        <tbody>
        {% for customer in customer_list %}
            <tr>
                <td width="300"><a href="{% url "customer-detail" pk=customer.pk %}">{{ customer.name }}</a></td>
                <td width="300">{{ customer.company }}</td>
                <td width="100">{{ customer.zipcode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}