{% extends "core/site_base.html" %}
{% block main_container %}
        <div class="row">
            <div id="master-left" class="large-2 columns">
                {% block lhn_top %}{% endblock lhn_top %}
                {% include "core/left_hand_nav.html" %}
                {% block lhn_btm %}{% endblock lhn_btm %}
            </div>
            <div id="master-main" class="large-10 columns">
                <div id="master-content" class="row">
                    <div id="content-main" class="large-10 columns">
                        {% if messages %}
                        <div id="content-messages" class="row">
                            <div class="large-12 columns">
                                {% for message in messages %}
                                <div data-alert class="alert-box round {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}<a href="#" class="close">&times;</a></div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="large-12 columns">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div id="content-right" class="large-2 columns">
                        <div class="row">
                            <div class="large-12 columns">
                                {% block right_bar %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}