    <ul class="side-nav">
        {% if actions %}
            {% for action in actions %}
            {% if action.divider_before and not forloop.first %}
            <li class="divider"></li>
            {% endif %}
            <li class="{% if action.active %}active{% endif %}">{% if not action.disabled %}<a href="{{action.url}}" {{ action.params }}>{% endif %}{{action.text}}{% if not action.disabled %}</a>{% endif %}</li>
            {% endfor %}
        {% endif %}
    </ul>
    {% if left_details %}
    <div class="panel">
        {% for detail_item in left_details %}
        <h5><small>{{detail_item.heading}}</small></h5>
        <small>{{detail_item.value}}</small>
        {% endfor %}
    </div>
    {% endif %}
