{% load staticfiles account %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Aviesc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/black-tie/jquery-ui-1.10.4.custom.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/screen.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/custom.css" %}">
    <script src="{% static "core/js/vendor/modernizr.js" %}"></script>
    <script src="{% static "core/js/vendor/jquery.js" %}"></script>
    <script src="{% static "core/js/vendor/fastclick.js" %}"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><p>Please wait</p></div>
</div>
<nav class="top-bar fixed">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">Aviesc</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="{% url 'aircraft-list' %}">Aircraft</a>
                {% if aircraft_list %}
                    <ul class="dropdown">
                        {% for id, name in aircraft_list.items %}
                            <li><a href='{% url 'aircraft-detail' id %}'>{{ name }}</a></li>{% endfor %}
                    </ul>
                {% endif %}
            </li>
            <li class="divider"></li>
            <li class=""><a href="{% url 'schedule' %}calendar/">Calendar</a>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="{% url 'customer-list' %}">Customer</a>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="{% url 'invoice-list' %}">Invoice</a>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown">
                <a href="{% url 'receipt-list' %}">Receipt</a>
            </li>
        </ul>
        <ul class="right">
            <li class="divider"></li>
            {% if user.is_authenticated %}
                <li class=""><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li class="divider"></li>
                <li class=""><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
                <li class=""><a href="{% url 'account_login' %}">Sign In</a></li>
                <li class="divider"></li>
                <li class=""><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </section>
</nav>
<section class="main">
    <div id="header" class="row">
        <div id="header" class="large-12 columns"><h1 class="docs header">{% block head_title %}{% endblock %}</h1>
            <hr/>
        </div>
    </div>
    {% block main_container %}{% endblock %}
    </div>
    <script src="{% static "core/js/foundation.min.js" %}"></script>
    <script src="{% static "core/js/foundation/foundation.topbar.js" %}"></script>
    {% block extra_js %}{% endblock %}
    <script>
        Foundation.set_namespace = function () {
        };
        $(document).foundation();
    </script>
    {% block post_extra_js %}{% endblock %}
</body>
</html>
