{% block sample_table %}

<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-3 columns" style="background-color: #2ba6cb">
                <p>8am</p>
            </div>
            <div class="small-3 columns" style="background-color: #2284a1">
                <p>Appoint 1</p>
            </div>
            <div class="small-6 columns">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns" style="background-color: #2ba6cb">
                <p>9am</p>
            </div>
            <div class="small-3 columns" style="background-color: #2284a1">
                <p>Appoint 1</p>
            </div>
            <div class="small-6 columns" style="background-color: #333333">
                <p>Appoint 2</p>
            </div>
        </div>
        <div class="row">
            <div class="small-3 columns" style="background-color: #2ba6cb">
                <p>10am</p>
            </div>
            <div class="small-9 columns" style="background-color: #e9e9e9">
                <p>Appoint 3</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}