{% load scheduletags %}

{% regroup agenda by slot.start as daily_table %}

{% for row in agenda %}
{% with slot=row.slot %}
{% with items=row.items %}
<div class="agenda-row">
    {% if not hide_time %}
        <div class="small-2 columns agenda-time-slot ">
            <span class="agenda-time compact">{{ slot.start|time:"G:i" }}</span>
            <span class="agenda-addable">{% if addable %}
            {% create_event_url calendar slot.start %}
            {% endif %}</span>
        </div>
    {% endif %}
    {% if items|length > 3 %}
        <div class="small-{% if hide_time %}12{% else %}10{% endif %} columns agenda-time-slot-empty">
            <p>{{items|length}} occurrences - click for details</p>
        </div>
    {% else %}
        {% for obj in items %}
            {% if items|length_is:"3" and forloop.first %}
                {% with col_width=4 %}
                    <a href="#" data-reveal-id="{% hash_occurrence obj.occ %}" ><div class="small-{% if hide_time %}{{ col_width|add:"2" }}{% else %}{{ col_width }}{% endif %} columns {{obj.style_class}} agenda-busy">
                {% endwith %}
            {% elif items|length_is:"3" and not forloop.first %}
                {% with col_width=3 %}
                    <a href="#" data-reveal-id="{% hash_occurrence obj.occ %}" ><div class="small-{% if hide_time %}{{ col_width|add:"2" }}{% else %}{{ col_width }}{% endif %} columns {{obj.style_class}} agenda-busy">
                {% endwith %}
            {% elif items|length_is:"2" %}
                {% with col_width=5 %}
                    <a href="#" data-reveal-id="{% hash_occurrence obj.occ %}" ><div class="small-{% if hide_time %}{{ col_width|add:"2" }}{% else %}{{ col_width }}{% endif %} columns {{obj.style_class}} agenda-busy">
                {% endwith %}
            {% elif items|length_is:"1" %}
                {% with col_width=10 %}
                    <a href="#" data-reveal-id="{% hash_occurrence obj.occ %}" ><div class="small-{% if hide_time %}{{ col_width|add:"2" }}{% else %}{{ col_width }}{% endif %} columns {{obj.style_class}} agenda-busy">
                {% endwith %}
             {% endif %}
                {% if "agenda-occ-start" in obj.style_class %}<p>{{ obj.occ.title }}</p>{% endif %}
            </div></a>
            <div id="{% hash_occurrence obj.occ %}" class="reveal-modal small" data-reveal>
                {% detail obj.occ %}
                <a class="close-reveal-modal">&#215;</a>
            </div>
        {% empty %}
            <div class="small-{% if hide_time %}12{% else %}10{% endif %} columns agenda-time-slot-empty"></div>
        {% endfor %}
    {% endif %}
</div>
{% endwith %}
{% endwith %}
{% endfor %}
