{% load i18n staticfiles %}

<form action="{% if ajax %}{% url 'ajax_create_event' calendar.slug %}{% else %}{% if calendar %}{% url 'calendar_create_event' calendar.slug %}{% else %}{% url 'calendar_create_event_no_cal' %}{% endif %}{% endif %}" method="post" class="custom">
{% csrf_token %}

    {% if not calendar %}
    <div class="row">
        <div class="large-8 columns">
            {{ form.calendar }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="large-12 columns{% if form.title.errors %} error{% endif %}" >
            <label for="{{ form.title.html_name }}">{{ form.title.label }}</label>
            {{ form.title }}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                    <small>{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns{% if form.start.errors %} error{% endif %}" >
            <label for="{{ form.start.html_name }}">{{ form.start.label }}</label>
            {{ form.start }}
            {% if form.start.errors %}
                {% for error in form.start.errors %}
                    <small>{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
        </div>
        <div class="large-6 columns{% if form.end.errors %} error{% endif %}" >
            <label for="{{ form.end.html_name }}">{{ form.end.label }}</label>
            {{ form.end }}
            {% if form.end.errors %}
                {% for error in form.end.errors %}
                    <small>{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns{% if form.description.errors %} error{% endif %}" >
            <label for="{{ form.description.html_name }}">{{ form.description.label }}</label>
            {{ form.description }}
            {% if form.description.errors %}
                {% for error in form.description.errors %}
                    <small>{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% if not ajax %}
<div class="row">
    <div class="large-2 columns">
        <div id="repeat_switch" class="switch small round">
          <input id="z" name="has_recurrence" type="radio" value="False"{% if form.has_recurrence.value != 'True' %} checked{% endif %}>
          <label for="z" onclick="">Once</label>

          <input id="z1" name="has_recurrence" type="radio" value="True"{% if form.has_recurrence.value == 'True' %} checked{% endif %}>
          <label for="z1" onclick="">Repeat</label>

          <span></span>
        </div>
    </div>
</div>

{{ formset.management_form }}
<div id="ev_rec" {% if form.has_recurrence.value != 'True' %}class="hide"{% endif %}>
<div class="row"><div class="large-12 columns">
    <dl class="tabs vertical" data-tab id="recurTabs">
    {% for radio in formset.0.frequency %}
      <dd{% if formset.0.frequency.value == radio.choice_label|upper %} class="active"{% endif %}><a href="#ev_rec_{{radio.choice_label|lower}}">{{ radio.tag }} {{radio.choice_label}}</a></dd>
    {% endfor %}
    </dl>
    <div class="tabs-content vertical">
        <div class="content{% if formset.0.frequency.value == 'YEARLY' %} active{% endif %}" id="ev_rec_yearly">
            {% for radio in formset.0.yearly_option %}
                {% if forloop.first %}{% comment %} Month-Day (Feb-4) (option 'c') {% endcomment %}
                <div class="row collapse">
                    <div class="large-2 columns{% if formset.0.yearly_option %} error{% endif %}">
                        <label class="inline">{{ radio.tag }} On the</label>
                    </div>
                    <div class="large-2 columns{% if formset.0.yearly_day_num_of_month.errors %} error{% endif %}">
                        {{ formset.0.yearly_day_num_of_month }}
                        {% if formset.0.yearly_day_num_of_month.errors %}
                            {% for error in formset.0.yearly_day_num_of_month.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="large-2 columns">
                        <label class="inline">day</label>
                    </div>
                    <div class="large-6 columns"></div>
                </div>
                {% endif %}
                {% if forloop.last %}{% comment %} First/Last Mon/Tues of Jan/Feb {% endcomment %}
                <div class="row collapse">
                    <div class="large-2 columns{% if formset.0.yearly_option %} error{% endif %}">
                        <label class="">{{ radio.tag }}The</label>
                    </div>
                    <div class="large-2 columns{% if formset.0.day_count_in_month.errors %} error{% endif %}">
                        {{ formset.0.day_count_in_month }}
                        {% if formset.0.day_count_in_month.errors %}
                            {% for error in formset.0.day_count_in_month.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="large-2 columns{% if formset.0.day_of_month.errors %} error{% endif %}">
                        {{ formset.0.day_of_month }}
                        {% if formset.0.day_of_month.errors %}
                            {% for error in formset.0.day_of_month.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="large-2 columns">
                        <label class="inline">of</label>
                    </div>
                    <div class="large-4 columns"></div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="row collapse">
                <div class="large-1 large-offset-5 columns">
                    <label class="prefix">of</label>
                </div>
                <div class="large-2 columns{% if formset.0.chosen_month.errors %} error{% endif %}">
                    {{ formset.0.chosen_month }}
                    {% if formset.0.chosen_month.errors %}
                        {% for error in formset.0.chosen_month.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-1 columns">
                    <label class="postfix">every</label>
                </div>
                <div class="large-2 columns{% if formset.0.yearly_interval.errors %} error{% endif %}">
                    {{ formset.0.yearly_interval }}
                    {% if formset.0.yearly_interval.errors %}
                        {% for error in formset.0.yearly_interval.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-1 columns">
                    <label class="postfix">year(s)</label>
                </div>
            </div>
        </div>
        <div class="content{% if formset.0.frequency.value == 'MONTHLY' %} active{% endif %}" id="ev_rec_monthly">
            {% for radio in formset.0.monthly_option %}
                {% if forloop.first %}{% comment %} Day x of every y months (option 'c') {% endcomment %}
                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="inline">{{ radio.tag }} Day</label>
                    </div>
                    <div class="large-2 columns">
                        {{ formset.0.day_num_of_month }}
                    </div>
                    <div class="large-8 columns"></div>
                </div>
                {% endif %}
                {% if forloop.last %}{% comment %} First/Last Mon/Tues of every Y months (option 'v') {% endcomment %}
                <div class="row collapse">
                    <div class="large-2 columns">
                        <label class="">{{ radio.tag }} The</label>
                    </div>
                    <div class="large-2 columns">
                        {{ formset.0.day_count_in_month }}
                    </div>
                    <div class="large-2 columns">
                        {{ formset.0.day_of_month }}
                    </div>
                    <div class="large-6 columns"></div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="row collapse">
                <div class="large-2 large-offset-6 columns">
                    <label class="prefix">of every</label>
                </div>
                <div class="large-2 columns">
                    {{ formset.0.monthly_interval }}
                </div>
                <div class="large-2 columns">
                    <label class="postfix">month(s)</label>
                </div>
            </div>
        </div>
        <div class="content{% if formset.0.frequency.value == 'WEEKLY' %} active{% endif %}" id="ev_rec_weekly">
            <div class="row collapse">
                <div class="large-3 columns">
                    <label for="{{ formset.0.weekly_interval.html_name }}" class="left prefix radius">Every</label>
                </div>
                <div class="large-6 columns{% if formset.0.weekly_interval.errors %} error{% endif %}">
                    {{ formset.0.weekly_interval }}
                </div>
                <div class="large-3 columns">
                    <label for="{{ formset.0.weekly_interval.html_name }}" class="left postfix radius">week(s)</label>
                    {% if formset.0.weekly_interval.errors %}
                        {% for error in formset.0.weekly_interval.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-2 columns">
                    on
                </div>
                <div class="large-5 columns">
                    <label for="{{ formset.0.days_mo.html_name }}">{{ formset.0.days_mo }}{{ formset.0.days_mo.label }}</label>
                    {% if formset.0.days_mo.errors %}
                        {% for error in formset.0.days_mo.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-5 columns">
                    <label for="{{ formset.0.days_tu.html_name }}">{{ formset.0.days_tu }}{{ formset.0.days_tu.label }}</label>
                    {% if formset.0.days_tu.errors %}
                        {% for error in formset.0.days_tu.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-5 large-offset-2 columns">
                    <label for="{{ formset.0.days_we.html_name }}">{{ formset.0.days_we }}{{ formset.0.days_we.label }}</label>
                    {% if formset.0.days_we.errors %}
                        {% for error in formset.0.days_we.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-5 columns">
                    <label for="{{ formset.0.days_th.html_name }}">{{ formset.0.days_th }}{{ formset.0.days_th.label }}</label>
                    {% if formset.0.days_th.errors %}
                        {% for error in formset.0.days_th.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-5 large-offset-2 columns">
                    <label for="{{ formset.0.days_fr.html_name }}">{{ formset.0.days_fr }}{{ formset.0.days_fr.label }}</label>
                    {% if formset.0.days_fr.errors %}
                        {% for error in formset.0.days_fr.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-5 columns">
                    <label for="{{ formset.0.days_sa.html_name }}">{{ formset.0.days_sa }}{{ formset.0.days_sa.label }}</label>
                    {% if formset.0.days_sa.errors %}
                        {% for error in formset.0.days_sa.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-5 large-offset-2 columns">
                    <label for="{{ formset.0.days_su.html_name }}">{{ formset.0.days_su }}{{ formset.0.days_su.label }}</label>
                    {% if formset.0.days_su.errors %}
                        {% for error in formset.0.days_su.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-5 columns"></div>
            </div>
        </div>
        <div class="content{% if formset.0.frequency.value == 'DAILY' %} active{% endif %}" id="ev_rec_daily">
            <div class="row">
                <div class="large-12 columns{% if formset.0.end_by_date.errors %} error{% endif %}">
                    <label for="{{ formset.0.daily_option.html_name }}">{{ formset.0.daily_option.label }}</label>
                    {{ formset.0.daily_option }}
                    {% if formset.0.daily_option.errors %}
                        {% for error in formset.0.daily_option.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row collapse">
                <div class="large-3 columns">
                    <label for="{{ formset.0.daily_interval.html_name }}" class="left prefix radius">Every</label>
                </div>
                <div class="large-6 columns{% if formset.0.daily_interval.errors %} error{% endif %}">
                    {{ formset.0.daily_interval }}
                </div>
                <div class="large-3 columns">
                    <label for="{{ formset.0.daily_interval.html_name }}" class="left postfix radius">{{ formset.0.daily_interval.label }}</label>
                    {% if formset.0.daily_interval.errors %}
                        {% for error in formset.0.daily_interval.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div></div>

{% for radio in formset.0.end_by_date %}
{% if forloop.first %}
<div class="row collapse">
    <div class="large-2 large-offset-3 columns">
        <p>Repeat event</p>
    </div>
    <div class="large-2 columns">
        {{ radio.tag }} {{radio.choice_label}}
    </div>
        <div class="large-2 columns">
        {{ formset.0.count }}
        {% if formset.0.count.errors %}
            {% for error in formset.0.count.errors %}
                <small>{{ error|escape }}</small>
            {% endfor %}
        {% endif %}
    </div>
    <div class="large-3 columns">
        <label for="{{ formset.0.count.html_name }}" class="left postfix radius">times</label>
    </div>
</div>
{% else %}
<div class="row collapse">
    <div class="large-2 large-offset-5 columns">
        {{ radio.tag }} {{radio.choice_label}}
    </div>
    <div class="large-2 columns">
        <label for="{{ formset.0.date_until.html_name }}" class="left prefix radius">until</label>
    </div>
    <div class="large-3 columns">
        {{ formset.0.date_until }}
        {% if formset.0.date_until.errors %}
            {% for error in formset.0.date_until.errors %}
                <small>{{ error|escape }}</small>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}

</div>
{% endif %}

<div class="row"><div class="large-12 columns">
    <input type="submit" value="Save" class="small button radius success" />
</div></div>
</form>
