{% extends "schedule/base.html" %}
{% load scheduletags account %}
{% load staticfiles tz %}

{% block extra_head %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href='{% static "schedule/css/fullcalendar.css" %}' />
    <script type='text/javascript' src='{% static "schedule/js/lib/moment.min.js" %}'></script>
    <script type='text/javascript' src='{% static "schedule/js/lib/jquery-ui.custom.min.js" %}'></script>
    <script type='text/javascript' src='{% static "schedule/js/fullcalendar/fullcalendar.js" %}'></script>
{% endblock %}

{% block head_title %}{{ calendar.name }}{% endblock head_title %}

{% block content %}
    <div id="calendar"></div>
    <div class="row">
        <div class="large-3 offset-9 columns">
            <input id="show-canc-events" type="checkbox"><label for="show-canc-events">Show cancelled events</label>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <div id="event_form_model" class="reveal-modal medium"></div>

    <script>$(document).ready(function() {
            $('#show-canc-events').change(function () {
                $('#calendar').fullCalendar('refetchEvents' );
            });
            $('#calendar').fullCalendar({
{# Use this script if we're focussed on a single calendar #}
{% if not slugs %}
                events: {url: '{% url 'ajax_event_feed' calendar.slug %}',
                         data: {show_canc: }
                        },
{% else %}
{# Otherwise, display the daily agenda with no weekly/monthly options for all aircraft #}
                eventSources: [
{% for slug, colour in slugs.items %}
                                {url: '{% url 'ajax_event_feed' slug %}',
                                 data: function() {return {show_canc: $("#show-canc-events").is(':checked')};},
                                 color: '{{ colour }}' },
{% endfor %}
                            ],
{% endif %}
                header: {left:   'prev,next today',
                         center: 'title',
                         right:  'month agendaWeek agendaDay'
                        },
                editable: true {{ addable }},
                timezone: '{{ TIME_ZONE }}',
                slotEventOverlap: false,
                defaultDate: '{{ date|date:"Y-m-d" }}',
                defaultView: '{{ view }}',
            })

        });
    </script>
{% endblock %}