{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block content %}
{% include "schedule/_dialogs.html" %}
<div class="tablewrapper">
  {% prevnext "month_calendar" calendar.slug periods.month "F Y"%}
  <div class="now">
    <a href="{% url 'month_calendar' calendar.slug %}">
      This month
    </a>
  </div>
  {% month_table calendar periods.month "regular" %}
</div>
<div class="navigation">
  <a href="{% url 'tri_month_calendar' calendar.slug %}{% querystring_for_date periods.month.start 2 %}">
    Three Month Calendar
  </a>
  <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date periods.month.start 1%}">
    Full Year Calendar
  </a>
</div>
{% endblock %}
