{% extends "schedule/base.html" %}
{% load scheduletags %}

{% block head_title %}{{ calendar.name }}{% endblock head_title %}

{% block content %}

{% include "schedule/_dialogs.html" %}

<div class="navigation">
  <a href="{% url 'month_calendar' calendar.slug %}{% querystring_for_date periods.week.start 2 %}">
    Month
  </a>
  <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date periods.week.start 1%}">
    Year
  </a>
</div>

<div class="tablewrapper">
    {% prevnext "week_calendar" calendar.slug periods.week "\Week W, M Y" %}
    <div class="now">
      <a href="{% url 'week_calendar' calendar.slug %}">
        This week
      </a>
    </div>
</div>

<!--<div id="week" class="row" >--><ul class="weekly-agenda">
  {% for day in periods.week.get_days %}
    <!--<div class="small-{% if forloop.counter < 6 %}2{% else %}1{% endif %} columns weekday {% if not forloop.first %}agenda-no-time-slot{% endif %}">-->
    <li>
      <div class="weekdayheader"><small>
        <a href="{% url 'day_calendar' calendar.slug %}{% querystring_for_date day.start %}">
          {{day.start|date:"l, d"}}</small>
        </a>
      </div>
      <div class="weekdaytable">
      {% if forloop.first %}
          {% daily_table day 230 80 600 9 21 30 %}
      {% else %}
          {% daily_table day 150 15 600 9 21 30 True %}
      {% endif %}
      </div>
    <!--</div>--></li>
  {% endfor %}
<!--</div>--></ul>

{% endblock %}
