{% extends "schedule/base.html" %}
{% load scheduletags account %}
{% load staticfiles %}

{% block head_title %}{{ calendar.name }}{% endblock head_title %}
{% block lhn_top %}{% month_table calendar periods.day.current_month "small" %}{% endblock lhn_top %}

{% block content %}
{% include "schedule/_dialogs.html" %}
<div class="navigation">
  <a href="{% url 'week_calendar' calendar.slug %}{% querystring_for_date periods.day.start 3 %}">
    Week
  </a>
  <a href="{% url 'month_calendar' calendar.slug %}{% querystring_for_date periods.day.start 2 %}">
    Month
  </a>
  <a href="{% url 'year_calendar' calendar.slug %}{% querystring_for_date periods.day.start 1%}">
    Year
  </a>
</div>
<div class="tablewrapper">
    {% prevnext "day_calendar" calendar.slug periods.day "l, F d, Y" %}
    <div class="now">
      <a href="{% url 'day_calendar' calendar.slug %}">
        Today
      </a>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
      {% daily_table periods.day 420 120 600 8 24 60 %}
    </div>
</div>
{% endblock %}