{% extends "schedule/base.html" %}
{% load i18n staticfiles %}

{% block head_title %}New Event{% if calendar %} - {{ calendar.name }}{% endif %}{% endblock head_title %}

{% block content %}
    {% include 'schedule/_event_form.html' %}
    {% if event %}
        <div class="row">
            <div class="large-12 columns">
                {% if event.invoice_event %}
                    <a href="{% url 'invoice-detail' pk=event.invoice_event.id %}" class="small button radius info">Show invoice</a>
                {% else %}
                    <a href="{% url 'invoice-create' %}?event={{ event.id }}" class="small button radius info">Create an invoice</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script>
        $('#recurTabs').on('toggled', function (event, tab) {
            $('#recurTabs .active').children('a').children('input:radio').prop("checked", true);
        });
        $("input[name=has_recurrence]:radio").change(function () {
            if ($("#z1").is(':checked')) {
                $('#ev_rec').removeClass('hide');
            }
            else {
                $('#ev_rec').addClass('hide');
            }
        });
    </script>
{% endblock %}

{% block post_extra_js %}{{ form.media }}{% endblock %}

