{% extends "schedule/base.html" %}
{% load i18n %}
{% load scheduletags %}

{% block body %}

<div class="navigation">
  <a href="{% url 'day_calendar' event.calendar.slug %}{% querystring_for_date event.start 3 %}">
    Day
  </a>
  <a href="{% url 'month_calendar' event.calendar.slug %}{% querystring_for_date event.start 2 %}">
    Month
  </a>
  <a href="{% url 'year_calendar' event.calendar.slug %}{% querystring_for_date event.start 1%}">
    Year
  </a>
</div>

<div class="event_actions" align="center">
  {% if back_url %}
  <a href="{{ back_url }}">
    <img border="0" src="{{ MEDIA_URL }}left_mod.png" alt="{% trans "Back" %}"/>
  </a>
  &nbsp;
  {% endif %}
  <a href="{% url 'edit_event' event.calendar.slug event.id %}">
    <img border="0" src="{{ MEDIA_URL }}pencil.png" alt="{% trans "Change" %}"/>
  </a>
  &nbsp;
  <a href="{% url 'delete_event' event.id %}">
    <img border="0" src="{{ MEDIA_URL }}delete.png" alt="{% trans "Delete" %}"/>
  </a>
</div>
<h2 align="center">{{event.title}}</h2>
<table align="center">
<tr>
<td>Starts</td>
<td>{% blocktrans with event.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>Ends</td>
<td>{% blocktrans with event.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}</td>
</tr>
<tr>
<td>Reoccurs</td>
{% if event.rule %}
<td>{{ event.rule }} until {% blocktrans with event.end_recurring_period|date:_("DATETIME_FORMAT") as end_recurring_date %}{{ end_recurring_date }}{% endblocktrans %}</td>
{% else %}
<td>{% trans "Never. This is a 'one time only' event." %}</td>
{% endif %}
</tr></table>
{% if event.description %}
<h3>Description</h3>
<p>{{event.description}}</p>
{% endif %}

{% endblock %}
