{% extends "schedule/base.html" %}
{% load scheduletags account %}
{% load staticfiles tz %}

{% block head_title %}{{ calendar.name }}{% endblock head_title %}

{% block content %}
<form action="/schedule/rule/create/" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
<input type="submit" value="Submit" />
</form>
{% endblock %}

