<% @side_nav = "css" %>

<div class="row">
  <div class="large-9 push-3 columns">
    <div class="row">
      <div class="large-12 columns">
        <% @page_title = "Alert Boxes" %>
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Alerts are a handy element you can drop into a form or inline on a page to communicate success, warnings, failure or just information. They'll conform to 100% of the container width you put them in.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <div data-alert class="alert-box">
          This is a standard alert (div.alert-box).
          <a href="" class="close">&times;</a>
        </div>

        <div data-alert class="alert-box radius">
          This is a radius alert (div.alert-box.radius).
          <a href="" class="close">&times;</a>
        </div>

        <div data-alert class="alert-box success">
          This is a success alert (div.alert-box.success).
          <a href="" class="close">&times;</a>
        </div>

        <div data-alert class="alert-box alert round">
          This is an alert (div.alert-box.alert.round).
          <a href="" class="close">&times;</a>
        </div>

        <div data-alert class="alert-box secondary">
          This is a secondary alert (div.alert-box.secondary).
          <a href="" class="close">&times;</a>
        </div>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build alerts in Foundation 4: with our predefined HTML classes or with our structure and mixins. Building an alert using our predefined class is super-easy, you only need a block-level element with a class of <code>.alert-box</code> (we usually use a <code>&lt;div&gt;</code>). You may also include an anchor with a class of <code>.close</code> to create a close box. Here is the markup you'll need:</p>

<%= code_example '
<div data-alert class="alert-box">
  <!-- Your content goes here -->
  <a href="#" class="close">&times;</a>
</div>', :html %>

        <p>For these styles to come across, make sure you have the <strong>default Foundation CSS package</strong> or that you've selected <strong>alerts from a custom package</strong>. These should be linked up following our default <a href="#getting-started">HTML page structure</a>.</p>

        <hr>

        <h3>Build with Mixins</h3>
        <p>We've included SCSS mixins used to style alert boxes. To use these mixins, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_alert-boxes.scss">_alert-boxes.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/alert-boxes";
', :css %>

        <p>If you are using the mixins, you may include the styles on whatever class or ID you'd like, just make sure you follow our markup structure:</p>

<%= code_example '
<div data-alert class="your-class-name">
  <!-- Your content goes here -->
  <a href="#" class="close">&times;</a>
</div>', :html %>


        <h5>Quick Mixin</h5>
        <p>You can build your alert using our global mixin by including it on your custom class or ID in your stylesheet. The mixin contains options for changing the background color, which also controls the border and text color. The rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include alert; }

/* Using the available options */
.your-class-name { @include alert(#ff6c3c); }
', :css %>

    <div data-alert class="alert-box">
    This is a default alert.
    <a href="#" class="close">&times;</a>
    </div>

    <div data-alert class="alert-base custom-bg">
    This is an alert with a custom background set.
    <a href="#" class="close">&times;</a>
    </div>

        <h5>Base Mixin</h5>
        <p>Use this mixin to create the base styles for alert boxes. This will include styles that create the basic structure of an alert box.</p>


<%= code_example '
.your-class-name { @include alert-base; }
', :css %>

    <div class="alert-base">This is the base mixin.</div>

        <h5>Background Mixin</h5>
        <p>You can control the background, border and text styles for the alert using this mixin. We base the border and text style on the background color you choose using some sweet Sass logic.</p>

<%= code_example '
.your-class-name {
  @include alert-base;
  @include alert-style($bg);
}', :css %>

    <div data-alert class="alert-base bg">This is base and bg mixins.</div>

        <p>You can set <code>$bg</code> color to any of our predefined color variables or any hexadecimal color of your choosing. To set this value to something other than our default, use <code>@include alert-bg(#hexcolor);</code></p>

        <h5>Close Box Mixin</h5>
        <p>You can include a close box with each of the alert boxes by adding an anchor right before the closing <code>&lt;/div&gt;</code>. This anchor should have a class of <code>.close</code> in order to work with <strong>foundation.alerts.js</strong>, which contains the interaction for closing.</p>

<%= code_example '
.your-class-name {
  @include alert-base;
  @include alert-style;
  .close { @include alert-close; }
}', :css %>

        <div data-alert class="alert-base bg">
          This is base, bg and close mixins.
          <a href="" class="close">&times;</a>
        </div>

        <h5>Radius Mixin</h5>
        <p>We've also created a global radius mixin that you can use to add border-radius to any element you'd like.</p>

<%= code_example '
.your-class-name {
  @include alert-base;
  @include alert-style($success-color);
  @include radius($radius);
}', :css %>

    <div data-alert class="alert-base bg radius success">
    This is base, bg and radius mixins.
    <a href="" class="close">&times;</a>
    </div>

        <h5>Default SCSS Variables</h5>
<%= code_example '
$include-html-alert-classes: $include-html-classes;

/* We use this to control alert padding. */
$alert-padding-top: em-calc(11);
$alert-padding-default-float: $alert-padding-top;
$alert-padding-opposite-direction: $alert-padding-top + em-calc(10);
$alert-padding-bottom: $alert-padding-top + em-calc(1);

/* We use these to control text style. */
$alert-font-weight: bold;
$alert-font-size: em-calc(14);
$alert-font-color: #fff;
$alert-font-color-alt: darken($secondary-color, 60%);

/* We use this for close hover effect. */
$alert-function-factor: 10%;

/* We use these to control border styles. */
$alert-border-style: solid;
$alert-border-width: 1px;
$alert-border-color: darken($primary-color, $alert-function-factor);
$alert-bottom-margin: em-calc(20);

/* We use these to style the close buttons */
$alert-close-color: #333;
$alert-close-position: em-calc(5);
$alert-close-font-size: em-calc(22);
$alert-close-opacity: 0.3;
$alert-close-opacity-hover: 0.5;
$alert-close-padding: 5px 4px 4px;

/* We use this to control border radius */
$alert-radius: $global-radius;

', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>.</p>

        <hr>

        <h3>Using the JavaScript</h3>
        <p>You don't need ths JS to create alert boxes with Foundation. The only reason you'll need to include <code>foundation.alerts.js</code> is if you want to add the ability to close an alert.

        <div class="panel">
          Before you can use the top bar you'll want to verify that both jQuery (or Zepto) and <code>foundation.js</code> are available on your page. You can refer to the <a href="../javascript.html">javascript documentation</a> on setting that up.
        </div>

        <p>Just add <code>foundation.alerts.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>

        <%= code_example '
<body>

  ...

  <script>
      document.write(\'<script src=/js/vendor/\'
        + (\'__proto__\' in {} ? \'zepto\' : \'jquery\')
        + \'.js><\/script>\');
    </script>

  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.alerts.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>

</body>
        ', :html %>
        <p>Required Foundation Library: <code>foundation.alerts.js</code></p>

        <p>Then, you'll need to add a data-attribute to make the JS work properly on that element. That looks like:</p>

<%= code_example '
<div data-alert class="alert-box">
  <!-- Your content goes here -->
  <a href="#" class="close">&times;</a>
</div>
', :html %>
      </div>
    </div>

  </div>

  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>

</div>

