<% @side_nav = "nav" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Breadcrumbs" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Breadcrumbs come in handy to show a navigation trail for users clicking through a site or app. They'll conform to 100% of the container width you put them in.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li class="unavailable"><a href="#">Gene Splicing</a></li>
          <li class="current"><a href="#">Cloning</a></li>
        </ul>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build breadcrumbs in Foundation 4: with our predefined HTML classes or with our structure and mixins. Building breadcrumbs using our predefined class is easy. You'll need an <code>&lt;ul class="breadcrumbs"&gt;</code> with <code>&lt;li&gt;</code> elements inside. You have access to two state classes: <code>&lt;li class="unavailable"&gt;</code> and <code>&lt;li class="current"&gt;</code> to control link intentions. The default markup looks like this:</p>

<%= code_example '
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
</ul>

<!-- You can also use this markup -->
<nav class="breadcrumbs">
  <a href="#">Home</a>
  <a href="#">Features</a>
  <a class="unavailable" href="#">Gene Splicing</a>
  <a class="current" href="#">Cloning</a>
</nav>', :html %>

        <p>For these styles to come across, make sure you have the <strong>default Foundation CSS package</strong> or that you've selected <strong>breadcrumbs from a custom package</strong>. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with Mixins</h3>
        <p>We've included SCSS mixins used to style breadcrumbs. To use these mixins, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_breadcrumbs.scss">_breadcrumbs.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/breadcrumbs";
', :css %>

        <p>If you are using the mixins, you may include the styles on whatever class or ID you'd like, just make sure you follow our markup structure:</p>

<%= code_example '
<ul class="your-class-name">
  <li><a href="#">Home</a></li>
  <li><a href="#">Features</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
</ul>', :html %>

        <h5>Container Mixin</h5>
        <p>You can build your breadcrumbs using our global mixin by including it on your custom class or ID in your stylesheet. The container mixin will create the necessary style for the <code>&lt;ul&gt;</code>. The global mixin looks like this:</p>

<%= code_example '
.your-class-name { @include crumb-container; }
', :css %>

    <ul class="crumb-container">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="unavailable"><a href="#">Gene Splicing</a></li>
      <li class="current"><a href="#">Cloning</a></li>
    </ul>

        <h5>Crumbs Mixin</h5>
        <p>Use this mixin to apply the list item and link styles to items inside the breadcrumb container. You attach this mixin to the list items inside of your container.</p>


<%= code_example '
.your-class-name {
  @include crumb-container;

  li { @include crumbs; }
}
', :css %>

    <ul class="crumb-container crumbs">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="unavailable"><a href="#">Gene Splicing</a></li>
      <li class="current"><a href="#">Cloning</a></li>
    </ul>

        <h5>Radius Mixin</h5>
        <p>We've also created a global radius mixin that you can use to add border-radius to any element you'd like.</p>

<%= code_example '
.your-class-name {
  @include crumb-container;
  @include radius($radius);

  li { @include crumbs; }
}
', :css %>

    <ul class="crumb-container crumbs radius">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li class="unavailable"><a href="#">Gene Splicing</a></li>
      <li class="current"><a href="#">Cloning</a></li>
    </ul>

        <h5>Default SCSS Variables</h5>
<%= code_example '
$include-html-nav-classes: $include-html-classes;

/* We use this to set the background color for the breadcrumb container. */
$crumb-bg: lighten($secondary-color, 5%);

/* We use these to set the padding around the breadcrumbs. */
$crumb-padding: em-calc(9 14 9);
$crumb-side-padding: em-calc(12);

/* We use these to control border styles. */
$crumb-function-factor: 10%;
$crumb-border-size: 1px;
$crumb-border-style: solid;
$crumb-border-color: darken($crumb-bg, $crumb-function-factor);
$crumb-radius: $global-radius;

/* We use these to set various text styles for breadcrumbs. */
$crumb-font-size: em-calc(11);
$crumb-font-color: $primary-color;
$crumb-font-color-current: #333;
$crumb-font-color-unavailable: #999;
$crumb-font-transform: uppercase;
$crumb-link-decor: underline;

/* We use these to control the slash between breadcrumbs */
$crumb-slash-color: #aaa;
$crumb-slash: "/";
', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>.</p>

      </div>
    </div>

  </div>

  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
