<% @side_nav = "buttons" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Buttons" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Buttons are a convenient tool when it comes to more traditional actions. To that end, Foundation has a lot of easy to use button styles that you can customize or override to fit your needs.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="small-6 large-6 columns">
            <a href="#" class="tiny button">.tiny.button</a><br>
            <a href="#" class="small button">.small.button</a><br>
            <a href="#" class="button">.button</a><br>
          </div>
          <div class="small-6 large-6 columns">
            <a href="#" class="tiny button secondary">.tiny.secondary</a><br>
            <a href="#" class="small button success radius">.small.success.radius</a><br>
            <a href="#" class="button alert round disabled">.round.disabled</a><br>
          </div>
        </div>
        <a href="#" class="large button expand">.large.button.expand</a>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build buttons in Foundation 4: with our predefined HTML classes or with our structure and mixins. Building buttons using our predefined classes is simple, you'll need an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> or <code>&lt;input&gt;</code> with a class of <code>.button</code>. This will create a default medium button. You can also use size, color and radius classes to control more of the style.</p>

        <p>The class options:</p>
        <ul class="disc">
          <li>The size classes include: <code>.tiny, .small, .medium</code> or <code>.large</code></li>
          <li>The color classes include: <code>.secondary, .alert</code> or <code>.success</code></li>
          <li>The radius classes include: <code>.radius</code> or <code>.round</code></li>
          <li>You can also add <code>.disabled</code> to any button and it will look and act disabled</li>
        </ul>

<%= code_example '
<!-- Size Classes -->
<a href="#" class="button">Default Button</a>
<a href="#" class="tiny button">Tiny Button</a>
<a href="#" class="small button">Small Button</a>
<a href="#" class="large button">Large Button</a>

<!-- Color Classes -->
<a href="#" class="button secondary">Secondary Button</a>
<a href="#" class="button success">Success Button</a>
<a href="#" class="button alert">Alert Button</a>

<!-- Radius Classes -->
<a href="#" class="button radius">Radius Button</a>
<a href="#" class="button round">Round Button</a>

<!-- Disabled Class -->
<a href="#" class="button disabled">Disabled Button</a>
', :html %>

        <p>You may chain one class from each group to build up desired default styles. For these styles to take effect, make sure you have the <strong>default Foundation CSS package</strong> or that you've selected <strong>button from a custom package</strong>. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with Mixins</h3>
        <p>We've included SCSS mixins used to style buttons. To use these mixins, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_buttons.scss">_buttons.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/buttons";
', :css %>

        <p>If you are using the mixins, you may include the styles on whatever class or ID you'd like, just make sure you follow our markup structure:</p>

<%= code_example '
<a href="#" class="your-class-name">Button Text</a>
', :html %>

        <h5>Quick Mixin</h5>
        <p>You can quickly build an entire button using our global mixin by including it on your custom class or ID in your stylesheet. The global mixin will create the necessary style for the button. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include button; }
', :css %>

        <a href="#" class="button">Default Button</a>

        <p>There are also <strong>six options</strong> you can customize on the fly when writing this mixin. These controls things like: background color, border color, text color, size and state. Setting any of these options to <strong>false</strong> will negate those styles.</p>

<%= code_example '
/* Using the available options */
.your-class-name {
  @include button($padding, $bg, $radius, $full-width, $disabled, $is-input);
}

/* This controls padding around the buttons. Use a variable or em value */
$padding: $button-med

/* This controls button color. Set to one of our variables or a custom hex value */
$bg: $primary-color

/* This controls button radius. Set to a variable, true/false, or custom px value */
$radius: false

/* This whether button is full-width. Set to true or false */
$full-width: false

/* This controls whether disabled styles are used. Set to true or false */
$disabled: false

/* This controls padding for inputs, they are a little different */
$is-input: false
', :css %>

    <a href="#" class="custom buttony">Custom Button</a>

        <h5>Base Mixin</h5>
        <p>You also have access to a few internal mixins that can create parts of the button as needed. The base mixin will create a button base that only include structural styles.</p>

<%= code_example '
.your-class-name { @include button-base; }
', :css %>

    <a href="#" class="button-base">Button Base</a>

        <h5>Size Mixin</h5>
        <p>The size mixin will let you control the padding, which adjusts text size. You can also choose whether the button is full-width or an input button.</p>

<%= code_example '
.your-class-name {
  @include button-base;
  @include button-size($padding, $full-width, $is-input);
}
', :css %>

    <a href="#" class="button-base size">Button Base &amp; Size</a>

        <h5>Style Mixin</h5>
        <p>The last internal mixin you have access to for buttons is the style mixin. This will help you style background color, text, border and radius.</p>

<%= code_example '
.your-class-name {
  @include button-base;
  @include button-size;
  @include button-style($bg, $radius, $disabled);
}
', :css %>

    <a href="#" class="button-base size style">Button Base, Size &amp; Style</a>

          <h5>Inset Shadow, Border Radius &amp; Transition Mixin</h5>
          <p>Sometimes you want to add a nice fancy shine to the edge of your button. And sometimes you want to make that shine look like it gets depressed upon tap or click. We've got you covered with our quick inset shadow mixin. You can use our radius mixin to quickly apply rounded corners or a transition mixin to give the button a nice zero-fade.</p>

<%= code_example '
.your-class-name {
  @include button-base;
  @include button-size;
  @include button-style;
  @include radius;
  @include single-transition;
  @include inset-shadow($active);
}

/* This controls whether or not you get the depressed look on tap/click. */
/* Set to true or false, defaults to true. */
$active: true
', :css %>

    <a href="#" class="button-base size style radius shine">Button Base, Size, Style &amp; Shine</a>

        <h5>Default SCSS Variables</h5>
<%= code_example '
$include-html-button-classes: $include-html-classes;

/* We use these to build padding for buttons. */
$button-med: em-calc(12);
$button-tny: em-calc(7);
$button-sml: em-calc(9);
$button-lrg: em-calc(16);

/* We use this to control the display property. */
$button-display: inline-block;
$button-margin-bottom: em-calc(20);

/* We use these to control button text styles. */
$button-font-family: inherit;
$button-font-color: #fff;
$button-font-color-alt: #333;
$button-font-med: em-calc(16);
$button-font-tny: em-calc(11);
$button-font-sml: em-calc(13);
$button-font-lrg: em-calc(20);
$button-font-weight: bold;
$button-font-align: center;

/* We use these to control various hover effects. */
$button-function-factor: 10%;

/* We use these to control button border styles. */
$button-border-width: 1px;
$button-border-style: solid;

/* We use this to set the default radius used throughout the core. */
$button-radius: $global-radius;
$button-round: $global-rounded;

/* We use this to set default opacity for disabled buttons. */
$button-disabled-opacity: 0.6;
', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

      </div>
    </div>

  </div>

  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>

</div>
