<% @side_nav = "js" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Interchange" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Interchange uses media queries to load the images that are appropriate for a user's browsers, making responsive images a snap.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <p><img style="width: 100%;" data-interchange="[../img/demos/interchange/smallest.jpg, (default)], [../img/demos/interchange/smallest.jpg, (screen and (max-width: 568px))], [../img/demos/interchange/small.jpg, (small)], [../img/demos/interchange/med.jpg, (medium)], [../img/demos/interchange/large.jpg, (large)]"></p>

        <h3>Using <code>data-interchange</code></h3>
        <p>The Foundation Interchange component utilizes the <code>data-interchange</code> attribute for specifying your media queries and their respective images.</p>

<%= code_example '
<img data-interchange="[/path/to/default.jpg, (default)], [/path/to/bigger-image.jpg, (large)]">
<!-- or your own queries -->
<img data-interchange="[/path/to/default.jpg, (only screen and (min-width: 1px))], [/path/to/bigger-image.jpg, (only screen and (min-width: 1280px))]">
', :html %>

        <p>Each rule passed to <code>data-interchange</code> is comma delimited and encapsulated in square brackets, and each argument within a rule is also comma delimited. The first parameter is the path to your image, and the second parameter is your media query, surrounded by parenthesis.</p>

<%= code_example '
data-interchange="[image_path, (media query)], [image_path, (media query)]"
', :html %>

        <p><strong>The last rule that evaluates to true will be the image that gets loaded.</strong> We recommend that you set your image <code>src</code> to the smallest one, as this will always get loaded.</p>

        <h4>Using Retina Images</h4>
        <p>You can easily include retina images by using a pixel-density media query for that image. You can even combine multiple parameters in the media query if need be. The retina media query would look something like this, but you can also use dpi or other pixel densities as well:</p>

<%= code_example '
data-interchange="[image_path, (screen and only (min-width: 640px) and (-webkit-min-device-pixel-ratio: 2))]"
', :html %>

        <h3>Named Queries</h3>

        <p>Interchange has a few built-in shortcuts that correlate with our visibility classes.</p>

        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Media Query</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>default</td>
              <td><code>only screen and (min-width: 1px)</code></td>
            </tr>
            <tr>
              <td>small</td>
              <td><code>only screen and (min-width: 768px)</code></td>
            </tr>
            <tr>
              <td>medium</td>
              <td><code>only screen and (min-width: 1280px)</code></td>
            </tr>
            <tr>
              <td>large</td>
              <td><code>only screen and (min-width: 1440px)</code></td>
            </tr>
            <tr>
              <td>landscape</td>
              <td><code>only screen and (orientation: landscape)</code></td>
            </tr>
            <tr>
              <td>portrait</td>
              <td><code>only screen and (orientation: portrait)</code></td>
            </tr>
            <tr>
              <td>retina <small>(4.2.1)</small></td>
              <td><code>only screen and (-webkit-min-device-pixel-ratio: 2),<br>
                only screen and (min--moz-device-pixel-ratio: 2),<br>
                only screen and (-o-min-device-pixel-ratio: 2/1),<br>
                only screen and (min-device-pixel-ratio: 2),<br>
                only screen and (min-resolution: 192dpi),<br>
                only screen and (min-resolution: 2dppx)</code>
              </td>
            </tr>
          </tbody>
        </table>

        <p>To use the named queries, just pass the name in where you would normally specify your query.</p>

<%= code_example '
data-interchange="[image_path, (large)], [image_path, (landscape)]"
', :html %>

        <h3>Custom Named Queries</h3>

        <p>Custom queries can be defined during initialization and are an easy way to make your queries more readable. You can also override the default queries in this way:</p>

<%= code_example "
$(document).foundation('interchange', {
  named_queries : {
    my_custom_query : 'only screen and (max-width: 200px)'
  }
});
", :js %>

        <h3>Events</h3>

        <p>Interchange triggers a <code>replace</code> event when a rule evaluates to true and the image has been replaced. This can be useful when you want to change some styles on your page based on which image is loaded.</p>

<%= code_example "
$(document).on('replace', 'img', function (e, new_path, original_path) {
  console.log(e.currentTarget, new_path, original_path);
});
", :js %>

        <h3>Adding new images after page load</h3>

        <p>If you add new images after the page has been loaded, you will need to trigger a <code>reflow</code> by running one of the following:</p>

<%= code_example "
$(document).foundation('interchange', 'reflow');

// OR for all Foundation components

$(document).foundation('reflow');
", :js %>

        <h3>Using the JavaScript</h3>

        <div class="panel">
          Before you can use Interchange you'll want to verify that both jQuery (or Zepto) and <code>foundation.js</code> are available on your page. You can refer to the <a href="../javascript.html">javascript documentation</a> on setting that up.
        </div>

        <p>Just add <code>foundation.interchange.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>

        <%= code_example '
<body>

  ...

  <script>
      document.write(\'<script src=/js/vendor/\'
        + (\'__proto__\' in {} ? \'zepto\' : \'jquery\')
        + \'.js><\/script>\');
    </script>

  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.interchange.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>

</body>
        ', :html %>

        <p>Required Foundation Library: <code>foundation.interchange.js</code></p>

      </div>
    </div>

  </div>

  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>

</div>