<% @side_nav = "css" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Pricing Tables" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">If you're making a rockin' marketing site for a subscription-based product, you are likely in need of a pricing table. These fill 100% of their container and are made from a simple unordered list.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-4 columns large-centered">
            <ul class="pricing-table">
              <li class="title">Standard</li>
              <li class="price">$99.99</li>
              <li class="description">An awesome description</li>
              <li class="bullet-item">1 Database</li>
              <li class="bullet-item">5GB Storage</li>
              <li class="bullet-item">20 Users</li>
              <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
            </ul>
          </div>
        </div>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build pricing tables in Foundation 4: with our predefined HTML or with our mixins. Building pricing tables with our predefined classes is quite easy. You'll start with an <code>&lt;ul&gt;</code> and add a class of <code>.pricing-table</code> to it. From there, you just need to add list items inside that represent each piece of the table.</p>

        <p>Available HTML class options for the list items:</p>
        <ul class="disc">
          <li><code>&lt;li class="title"&gt;</code>: Creates the styles for a title.</li>
          <li><code>&lt;li class="price"&gt;</code>: Add a price that stands out.</li>
          <li><code>&lt;li class="description"&gt;</code>: If you need to describe the plan, add this.</li>
          <li><code>&lt;li class="bullet-item"&gt;</code>: To call out features, use this list item.</li>
          <li><code>&lt;li class="cta-button"&gt;</code>: To add a button inside a list item, use this.</li>
        </ul>

<%= code_example '
<ul class="pricing-table">
  <li class="title">Standard</li>
  <li class="price">$99.99</li>
  <li class="description">An awesome description</li>
  <li class="bullet-item">1 Database</li>
  <li class="bullet-item">5GB Storage</li>
  <li class="bullet-item">20 Users</li>
  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
</ul>', :html %>

        <p>For these styles to come across, make sure you have the default Foundation CSS package or that you've selected pricing-tables from a custom package. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with a Mixin</h3>
        <p>We've included SCSS mixins used to style pricing tables so that you can code how you want to. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_pricing-tables.scss">_pricing-tables.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/pricing-tables";
', :css %>

        <p>If you are using the mixins, you may include the styles on whatever class or ID you'd like with the <code>&lt;ul&gt;</code> and the list items inside it.</p>

<%= code_example '
<ul class="your-pricing-class">
  <li class="your-title-class">Title</li>
  <li class="your-price-class">$$$</li>
  <li class="your-desc-class">...</li>
  <li class="your-bullet-class">Bullet</li>
  <li class="your-cta-class"><a class="your-button-class" href="#">Button</a></li>
</ul>', :html %>

        <h5>The Container Mixin</h5>
        <p>Pricing tables are built up from an unordered list. We give this container some necessary styles by using our container mixin. There are no customizable options within the mixin, but everything can be changed using the SCSS variables below.</p>

<%= code_example '
.your-pricing-class  { @include pricing-table-container;
  .your-title-class  { @include pricing-table-title; }
  .your-price-class  { @include pricing-table-price; }
  .your-desc-class   { @include pricing-table-description; }
  .your-bullet-class { @include pricing-table-bullet; }
  .your-cta-class    { @include pricing-table-cta; }
}', :css %>

        <ul class="pricing-table">
          <li class="title">Standard</li>
          <li class="price">$99.99</li>
          <li class="description">An awesome description</li>
          <li class="bullet-item">1 Database</li>
          <li class="bullet-item">5GB Storage</li>
          <li class="bullet-item">20 Users</li>
          <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
        </ul>

        <h5>Default SCSS Variables</h5>

<%= code_example '
$include-html-pricing-classes: $include-html-classes;

/* We use this to control the border color */
$price-table-border: solid 1px #ddd;

/* We use this to control the bottom margin of the pricing table */
$price-table-margin-bottom: em-calc(20);

/* We use these to control the title styles */
$price-title-bg: #ddd;
$price-title-padding: em-calc(15 20);
$price-title-align: center;
$price-title-color: #333;
$price-title-weight: bold;
$price-title-size: em-calc(16);

/* We use these to control the price styles */
$price-money-bg: #eee;
$price-money-padding: em-calc(15 20);
$price-money-align: center;
$price-money-color: #333;
$price-money-weight: normal;
$price-money-size: em-calc(20);

/* We use these to control the description styles */
$price-bg: #fff;
$price-desc-color: #777;
$price-desc-padding: em-calc(15);
$price-desc-align: center;
$price-desc-font-size: em-calc(12);
$price-desc-weight: normal;
$price-desc-line-height: 1.4;
$price-desc-bottom-border: dotted 1px #ddd;

/* We use these to control the list item styles */
$price-item-color: #333;
$price-item-padding: em-calc(15);
$price-item-align: center;
$price-item-font-size: em-calc(14);
$price-item-weight: normal;
$price-item-bottom-border: dotted 1px #ddd;

/* We use these to control the CTA area styles */
$price-cta-bg: #f5f5f5;
$price-cta-align: center;
$price-cta-padding: em-calc(20 20 0);', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
