<% @side_nav = "js" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Sections" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Sections are similar to tabs as a way to selectively show a single panel of content at a time.</h4>
        <div class="row">
          <div class="large-3 columns">
            <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
              <section>
                <p class="title"><a href="#">Section 1</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              <section>
                <p class="title"><a href="#">Section 2</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
          <div class="large-9 columns">
            <div class="section-container horizontal-nav" data-section="horizontal-nav" data-options="one_up: false;">
              <section>
                <p class="title"><a href="#">Section 1</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              <section>
                <p class="title"><a href="#">Section 2</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
            </div>
            <div class="section-container auto" data-section data-options="deep_linking: true;">
              <section class="active">
                <p class="title" data-section-title><a href="#panel1">Section 1</a></p>
                <div class="content" data-slug="panel1" data-section-content>
                  <p>Section 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </section>
              <section>
                <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
                <div class="content" data-slug="panel2" data-section-content>
                  <div class="section-container auto" data-section data-options="deep_linking: true;">
                    <section class="active" data-section-region>
                      <p class="title" data-section-title><a href="#panel2nested1">Section 1</a></p>
                      <div class="content" data-slug="nested1" data-section-content>
                        <p>Section 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </section>
                    <section data-section-region>
                      <p class="title" data-section-title><a href="#panel2nested2">Section 2</a></p>
                      <div class="content" data-slug="panel2nested2" data-section-content>
                        <p>Section 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      </div>
                    </section>
                    <div data-section-region class="section">
                      <p class="title" data-section-title><a href="#panel2nested3">Section 3</a></p>
                      <div class="content" data-slug="panel2nested3" data-section-content>
                        <form>
                          <div class="row collapse">
                            <div class="large-2 columns">
                              <label class="inline">Your Name</label>
                            </div>
                            <div class="large-10 columns">
                              <input type="text" id="yourName" placeholder="Jane Smith">
                            </div>
                          </div>
                          <div class="row collapse">
                            <div class="large-2 columns">
                              <label class="inline"> Your Email</label>
                            </div>
                            <div class="large-10 columns">
                              <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                            </div>
                          </div>
                          <label>What's up?</label>
                          <textarea rows="4"></textarea>
                          <button type="submit" class="radius button">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div data-section-region class="section">
                <p class="title" data-section-title><a href="#panel3">Section 3</a></p>
                <div class="content" data-slug="panel3" data-section-content>
                  <form>
                    <div class="row collapse">
                      <div class="large-2 columns">
                        <label class="inline">Your Name</label>
                      </div>
                      <div class="large-10 columns">
                        <input type="text" id="yourName" placeholder="Jane Smith">
                      </div>
                    </div>
                    <div class="row collapse">
                      <div class="large-2 columns">
                        <label class="inline"> Your Email</label>
                      </div>
                      <div class="large-10 columns">
                        <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                      </div>
                    </div>
                    <label>What's up?</label>
                    <textarea rows="4"></textarea>
                    <button type="submit" class="radius button">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <h3>Sections Replace Accordion, Tabs, Vertical Nav &amp; Nav Bar</h3>
        <p>Sections replace a few things that you are used to from Foundation 3. We've taken the accordion, the tabs and the vertical nav and combined them into this really flexible plugin that can handle all of those. The single JS file handles all the interactions, but the classes you add to the element control how it gets rendered and styled across our breakpoint.</p>

        <hr>

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build sections in Foundation 4, with our predefined HTML classes or with our structure and mixins. Building a sections using our predefined classes is super-easy, you just need to create a <code>&lt;div class="section-container" data-section&gt;</code> as a wrapper for the sections themselves. Inside of this wrapper, you'll create either a <code>&lt;section class="section"&gt;</code> or <code>&lt;div class="section"&gt;</code>. Within that you'll include some sort of <code>.title</code> (this can be headers or a paragraph) and a <code>&lt;div class="content"&gt;</code>. Here is the markup you'll need:</p>

        <p>If you want to use ZURB's default styles for section elements you can apply the <code>auto</code>, <code>tabs</code>, <code>accordion</code>, <code>vertical-nav</code>, or <code>horizontal-nav</code> classes. By default, section elements will be an accordion on mobile and tabs on desktops and tablets. If you want to adjust this behavior and force a particular format for your section, you will need to set <code>data-section</code> equal to the format you want to force as shown in the variations below.</p>

<%= code_example '
<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Section 1</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>
<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Section 1</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>
        <p>This example will automatically switch between tabs and accordion based on the resolution of the device.</p>

        <p>The class options:</p>
        <ul class="disc">
          <li>auto</li>
          <li>tabs</li>
          <li>accordion</li>
          <li>vertical-nav</li>
          <li>horizontal-nav</li>
        </ul>

        <p>For these styles to come across, make sure you have the <strong>default Foundation CSS package</strong> or that you've selected <strong>section from a custom package</strong>. These should be linked up following our default <a href="#getting-started">HTML page structure</a>.</p>

        <hr>

        <h3>Variations</h3>
        <h6>Accordion</h6>
        <p>Adding an <code>accordion</code> class to the section container will show an accordion on both small and large screens.</p>
<%= code_example '
<div class="section-container accordion" data-section="accordion">
  <section class="active">
    <p class="title" data-section-title><a href="#">Section 1</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Section 2</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>
        <div class="section-container accordion" data-section="accordion">
          <section class="active">
            <p class="title" data-section-title><a href="#">Section 1</a></p>
            <div class="content" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Section 2</a></p>
            <div class="content" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <h6>Tabs</h6>
        <p>Adding a <code>tabs</code> class to the section container will enable tabs on both small and large screens.</p>
<%= code_example '
<div class="section-container tabs" data-section="tabs">
  <section class="active">
    <p class="title" data-section-title><a href="#">Section 1</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Section 2</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

        <div class="section-container tabs" data-section="tabs">
          <section class="active">
            <p class="title" data-section-title><a href="#">Section 1</a></p>
            <div class="content" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Section 2</a></p>
            <div class="content" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <h6>Vertical Tabs</h6>
        <p>Adding a <code>vertical-tabs</code> class to the section container and setting <code>data-section="vertical-tabs"</code> will enable tabs on both small and large screens.</p>

<%= code_example '
<div class="section-container vertical-tabs" data-section="vertical-tabs">
  <section class="active">
    <p class="title" data-section-title><a href="#">Section 1</a></p>
    <div class="content" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Section 2</a></p>
    <div class="content" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Section 3</a></p>
    <div class="content" data-section-content>
      <p>Content of section 3.</p>
    </div>
  </section>
</div>', :html %>

        <div class="section-container vertical-tabs" data-section="vertical-tabs">
          <section class="active">
            <p class="title" data-section-title><a href="#">Section 1</a></p>
            <div class="content" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Section 2</a></p>
            <div class="content" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Section 3</a></p>
            <div class="content" data-section-content>
              <p>Content of section 3.</p>
            </div>
          </section>
        </div>

        <h6>Vertical Nav/Accordion</h6>
        <p>Adding a <code>vertical-nav</code> class to the section container will enable vertical navigation elements on large screens and show an accordion on small screens.</p>

        <p>Vertical navigation elements usually appear within the grid so the width can be controlled on desktop.</p>

        <p>Use the <code>side-nav</code> class on the list to apply the Foundation navigation styles</p>

<%= code_example '
<div class="row">
  <div class="large-3 columns">
    <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
      <section>
        <p class="title" data-section-title><a href="#">Section 1</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Link 1</a></li>
          </ul>
        </div>
      </section>
      <section>
        <p class="title" data-section-title><a href="#">Section 2</a></p>
        <div class="content" data-section-content>
          <ul class="side-nav">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Link 1</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <div class="large-9 columns">
    <p>Content to the right of the navigation.</p>
  </div>
</div>', :html %>

        <div class="row">
          <div class="large-3 columns">
            <div class="section-container vertical-nav" data-section="vertical-nav" data-options="one_up: false;">
              <section>
                <p class="title" data-section-title><a href="#">Section 1</a></p>
                <div class="content" data-section-content>
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              <section>
                <p class="title" data-section-title><a href="#">Section 2</a></p>
                <div class="content" data-section-content>
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
            </div>
          </div>
          <div class="large-9 columns">
            <p>Content to the right of the navigation.</p>
          </div>
        </div>

        <h6>Horizontal Nav/Nav Bar</h6>
        <p>Adding a <code>horizontal-nav</code> class to the section container will enable horizontal navigation elements on large screens and show an accordion on small screens.</p>

        <p>Horizontal navigation is a combination of the tab setting with vertical navigation drop downs.</p>

        <p>Use the <code>side-nav</code> class on the list to apply the Foundation navigation styles</p>

<%= code_example '
<div class="section-container horizontal-nav" data-section="horizontal-nav" data-options="one_up: false;">
  <section>
    <p class="title" data-section-title><a href="#">Section 1</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li class="divider"></li>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Section 2</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li class="divider"></li>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </section>
</div>
', :html %>

        <div class="section-container horizontal-nav" data-section="horizontal-nav" data-options="one_up: false;">
          <section>
            <p class="title" data-section-title><a href="#">Section 1</a></p>
            <div class="content" data-section-content>
              <ul class="side-nav">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li class="divider"></li>
                <li><a href="#">Link 1</a></li>
              </ul>
            </div>
          </section>
          <section>
            <p class="title" data-section-title><a href="#">Section 2</a></p>
            <div class="content" data-section-content>
              <ul class="side-nav">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li class="divider"></li>
                <li><a href="#">Link 1</a></li>
              </ul>
            </div>
          </section>
        </div>

        <h6>Deep Linking</h6>
        <p>Set <code>deep-linking</code> to true to enable deep linking to sections of content. Deep linking allows visitors to visit a predefined URL with a hash that points to a particular section of the content. Deep linking also requires a matching <code>data-slug</code> on the content section that the hash should point to, without the pound (&#35;) sign.</p>

<%= code_example '
<div class="section-container auto" data-section data-options="deep_linking: true">
  <section class="active">
    <p class="title" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#section2">Section 2</a></p>
    <div class="content" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

        <h6>Nested Sections</h6>
        <p>You can infinitely nest Section elements to create more complicated Section layouts.</p>

        <div class="section-container auto" data-section>
          <section class="active">
            <p class="title"><a href="#section1">ROOT: Section 1</a></p>
            <div class="content" data-slug="section1">
              <p>Content 1 Summary Paragraphs</p>
              <div class="section-container auto" data-section>
                <section>
                  <p class="title"><a href="#section1-1">DETAIL: #1</a></p>
                  <div class="content">
                    <p>Detail awesome stuff!</p>
                  </div>
                </section>
                <section>
                  <p class="title"><a href="#section1-2">DETAIL: #2</a></p>
                  <div class="content">
                    <p>Detail awesome stuff numeroe duo.</p>
                  </div>
                </section>
              </div>
            </div>
          </section>
          <section>
            <p class="title"><a href="#section2">ROOT: Section 2</a></p>
            <div class="content" data-slug="section2">
              <p>Content 2</p>
            </div>
          </section>
        </div>
<%= code_example '
<div class="section-container auto" data-section>
  <section class="active">
    <p class="title"><a href="#section1">ROOT: Section 1</a></p>
    <div class="content" data-slug="section1">
      <p>Content 1 Summary Paragraphs</p>
      <div class="section-container auto" data-section>
        <section>
          <p class="title"><a href="#section1-1">DETAIL: #1</a></p>
          <div class="content">
            <p>Detail awesome stuff!</p>
          </div>
        </section>
        <section>
          <p class="title"><a href="#section1-2">DETAIL: #2</a></p>
          <div class="content">
            <p>Detail awesome stuff numeroe duo.</p>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section>
    <p class="title"><a href="#section2">ROOT: Section 2</a></p>
    <div class="content" data-slug="section2">
      <p>Content 2</p>
    </div>
  </section>
</div>
', :html %>

        <p><strong>Note:</strong> The <code>section</code> element can be replaced with a <code>div.section</code> element if you do not want to use HTML5 elements.</p>

        <hr>

        <h3>Building with Mixins</h3>
        <p>If you are keen on SCSS and use it for your Foundation projects, you have access to mixins that will let you create any type of section you want and change it within a media query too! Building a section with our mixins requires a bit of predefined structure, but you can choose the classes or ID's to style them with. Start with some sort of block-level container, we use a <code>&lt;div&gt;</code>. This container needs to have <code>data-section="type-of-section"</code>. The section types are explained above. Inside this you create "sections", which can be an HTML5 <code>section</code> element or a <code>&lt;div class="section"&gt;</code>, that will hold content.<p>

        <h5>Title and Content Elements</h5>
        <p>Inside of these "sections" you created you'll need to add a title and content. To create the title element, use something like a <code>&lt;p&gt;</code>, <code>&lt;h5&gt;</code>, etc and give it an attribute of <code>data-section-title</code>. After this, you add <code>&lt;div data-section-content&gt;</code> and fill it with your content.</p>

        <p>Here's an example structure you might use with the section mixin:</p>

<%= code_example '
<div class="your-class-name" data-section="auto"> <!-- Can use "auto", "accordion", "tabs", "vertical-nav", or "horizontal-nav" -->
  <section class="your-section-class">
    <p class="your-title-class" data-section-title><a href="#section1">Section 1</a></p>
    <div class="your-content-class" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section class="your-section-class">
    <p class="your-title-class" data-section-title><a href="#section2">Section 2</a></p>
    <div class="your-content-class" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

        <p>Here's a look at the available options for the mixins you need to create sections:</p>

<%= code_example '
@include section-container($base-style, $section-type) { ... }

/* Container Options */

/* This controls whether or not you include default styles when chaining classes, set to true or false */
$base-style: true

/* This controls the style for the section you are using: accordion, tabs, vertical-tabs, vertical-nav, horizontal-nav */
$section-type: accordion

@include section($section-type, $title-selector, $content-selector, $title-padding, $title-color, $title-font-size, $title-bg, $title-bg-hover, $title-bg-active, $title-color-active, $content-bg, $content-padding, $section-border-size, $section-border-style, $section-border-color) { ... }

/* Section Options */

/* Control which section type styles come across: accordion, tabs, vertical-tabs, vertical-nav, horizontal-nav */
$section-type: accordion

/* You can set the class that is used for the title elements */
$title-selector: ".title"

/* You can set the class that is used for the content elements */
$content-selector: ".content"

/* Give the titles some padding, can be any px or em-calc() value */
$title-padding: $section-padding

/* give the titles a color, any color value */
$title-color: $section-title-color

/* Set the font size for titles */
$title-font-size: $section-font-size

/* Set the background color for titles */
$title-bg: $section-title-bg

/* Change title background for hover */
$title-bg-hover: $section-title-bg-hover

/* Change title background for .active */
$title-bg-active: $section-title-bg-active

/* Change title color for .active */
$title-color-active: $section-title-color

/* Content area background color */
$content-bg: $section-content-bg

/* Content area padding */
$content-padding: $section-content-padding

/* Border size in pixels */
$section-border-size: $section-border-size

/* Border style */
$section-border-style: $section-border-style

/* Border color */
$section-border-color: $section-border-color', :css %>


        <hr>

        <h5>Auto Configuration</h5>
        <p>The default use case for our section plugin is to create accordions on small screens and tabs on large screens.</p>
<%= code_example '
<div class="section-auto-sample" data-section="auto">
  <section class="active">
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }

  @media #{$small} {
    @include section-container(false,$section-type:tabs);
    & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}', :sass %>

        <div class="section-auto-sample" data-section="auto">
          <section class="active">
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Accordion Configuration</h5>
        <p>You can have your section act like an accordion the entire time, like so:</p>
<%= code_example '
<div class="section-auto-sample-accordion" data-section="accordion">
  <section class="active">
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample-accordion {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}', :sass %>

        <div class="section-auto-sample-accordion" data-section="accordion">
          <section class="active">
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Tabs Configuration</h5>
        <p>You can have your section act like tabs the entire time, like so:</p>
<%= code_example '
<div class="section-auto-sample-tabs" data-section="tabs">
  <section class="active">
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample-tabs {
  @include section-container($section-type:tabs);
  & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
}', :sass %>

        <div class="section-auto-sample-tabs" data-section="tabs">
          <section class="active">
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Vertical Tabs Configuration</h5>
        <p>You can have your section act like vertical tabs on large screen and go back to accordion on small screens, like so:</p>
<%= code_example '
<div class="section-auto-sample-vtabs" data-section="vertical-tabs">
  <section class="active">
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample-vtabs {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}
@media #{$small} {
  .section-auto-sample-vtabs {
    @include section-container($section-type:vertical-tabs);
    & > section { @include section($section-type:vertical-tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}', :sass %>

        <div class="section-auto-sample-vtabs" data-section="vertical-tabs">
          <section class="active">
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Vertical Nav Configuration</h5>
        <p>You can have your section act like vertical navigation the entire time, like so:</p>
<%= code_example '
<div class="nav-container">
  <nav>
    <div class="section-auto-sample-vnav" data-section="vertical-nav">
      <section>
        <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
        <div class="content-sample" data-slug="section1" data-section-content>
          <p>Content of section 1.</p>
        </div>
      </section>
      <section>
        <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
        <div class="content-sample" data-slug="section2" data-section-content>
          <p>Content of section 2.</p>
        </div>
      </section>
    </div>
  </nav>
  <section class="page-content">
    <p>Content...</p>
  </section>
</div>', :html %>

<%= code_example '
.nav-container { @include grid-row($behavior:nest);
  > nav { @include grid-column($columns:4); }
}

.section-auto-sample-vnav {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}
@media #{$small} {
  .section-auto-sample-vnav {
    @include section-container($section-type:vertical-nav);
    & > section { @include section($section-type:vertical-nav, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}', :sass %>

        <div class="nav-container">
          <nav>
            <div class="section-auto-sample-vnav" data-section="vertical-nav">
              <section>
                <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
                <div class="content-sample" data-slug="section1" data-section-content>
                  <p>Content of section 1.</p>
                </div>
              </section>
              <section>
                <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
                <div class="content-sample" data-slug="section2" data-section-content>
                  <p>Content of section 2.</p>
                </div>
              </section>
            </div>
          </nav>
          <section class="page-content">
            <p>Content...</p>
          </section>
        </div>
        <hr>

        <h5>Horizontal Nav Configuration</h5>
        <p>You can have your section act like horizontal navigation the entire time, like so:</p>
<%= code_example '
<div class="section-auto-sample-hnav" data-section="horizontal-nav">
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample-hnav {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}
@media #{$small} {
  .section-auto-sample-hnav {
    @include section-container($section-type:horizontal-nav);
    & > section { @include section($section-type:horizontal-nav, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}', :sass %>

        <div class="section-auto-sample-hnav" data-section="horizontal-nav">
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Custom Styles Using the Mixin</h5>
        <p>You have access to a few options that will make styling the sections really easy and you can add onto it as you want. You'll still need the data-section attribute to match the style you give the mixin.</p>
<%= code_example '
<div class="section-auto-sample-custom" data-section="tabs">
  <section class="active">
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>', :html %>

<%= code_example '
.section-auto-sample-custom {
  @include section-container($section-type:tabs);
  & > section { @include section($section-type:tabs, $title-selector:".title-sample", $content-selector:".content-sample", $title-padding: 10px 50px, $title-color:#000, $title-bg:pink, $title-bg-hover:darken(pink,5%), $title-bg-active: #fff, $title-color-active: darken(pink,10%)); }
}', :sass %>

        <div class="section-auto-sample-custom" data-section="tabs">
          <section class="active">
            <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
            <div class="content-sample" data-slug="section1" data-section-content>
              <p>Content of section 1.</p>
            </div>
          </section>
          <section>
            <p class="title-sample" data-section-title><a href="#section1">Section 2</a></p>
            <div class="content-sample" data-slug="section2" data-section-content>
              <p>Content of section 2.</p>
            </div>
          </section>
        </div>

        <hr>

        <h5>Default SCSS Variables</h5>
<%= code_example '
$include-html-section-classes: $include-html-classes;

/* We use these to set padding and hover factor */
$section-title-padding: em-calc(15);
$section-content-padding: em-calc(15);
$section-function-factor: 10%;

/* These style the titles */
$section-title-color: #333;
$section-title-color-active: #333;
$section-title-bg: #efefef;
$section-title-bg-active: darken($section-title-bg, $section-function-factor);
$section-title-bg-active-tabs: #fff;
$section-title-bg-hover: darken($section-title-bg, $section-function-factor / 2);

/* Want to control border size, here ya go! */
$section-border-size: 1px;
$section-border-style: solid;
$section-border-color: #ccc;

/* Font controls */
$section-font-size: em-calc(14);

/* Control the color of the background and some size options */
$section-content-bg: #fff;
$section-vertical-nav-min-width: em-calc(200);
$section-vertical-tabs-title-width: em-calc(200);
$section-bottom-margin: em-calc(20);

$title-selector: ".title";
$content-selector: ".content";
$active-region-selector: ".active";
', :css %>

    <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>.</p>

        <hr>

        <h3>Using the JavaScript</h3>
        <div class="panel">
          Before you can use sections you'll want to verify that both jQuery (or Zepto) and <code>foundation.js</code> are available on your page. You can refer to the <a href="../javascript.html">javascript documentation</a> on setting that up.
        </div>

        <p>Just add <code>foundation.section.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>

        <%= code_example '
<body>

  ...

  <script>
      document.write(\'<script src=/js/vendor/\'
        + (\'__proto__\' in {} ? \'zepto\' : \'jquery\')
        + \'.js><\/script>\');
    </script>

  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.section.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>

</body>
        ', :html %>
        <p>Required Foundation Library: <code>foundation.section.js</code></p>

        <p>Then, you'll need to add a data-attribute to make the JS work properly on that element. That looks like:</p>

<%= code_example '
<div class="section-container auto" data-section>
  <section class="active">
    <p class="title" data-section-title><a href="#panel1">Section 1</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li class="divider"></li>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#panel2">Section 2</a></p>
    <div class="content" data-section-content>
      <ul class="side-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li class="divider"></li>
        <li><a href="#">Link 1</a></li>
      </ul>
    </div>
  </section>
</div>
', :html %>

        <p><strong>Note:</strong> If you are using Sections in a Modal, or they are being loaded via AJAX, or they are hidden when Foundation is initialized, you will need to reflow the sections to get tabs to display properly:</p>

<%= code_example "
$('#myModal').on('opened', function () {
  $(this).foundation('section', 'reflow');
});
", :json %>

        <h5>Optional JavaScript Configuration</h5>

        <p>You can either set these options in a <code>data-options</code> attribute in the markup, <code>data-options="option: value; option2: value syntax"</code>, or pass in on initialization.</p>

    <%= code_example "
{
  deep_linking: false, // Allows for querystring hashtag direct linking
  one_up: true, // Ensures the first section is shown on initial view
  multi_expand: false, // For accordion, allows more than one section to be expanded at the same time.
  rtl: false, // Flags for right-to-left behavior
  callback: function (){} // Called when a section is selected.
}", :js %>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
