<% @side_nav = "nav" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Side Nav" %>
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @page_title %></h1>
        <h4 class="subheader">Side nav, like you'll see on Foundation's main site, is useful for sections of either a site or a page.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-4 columns end">
            <ul class="side-nav">
              <li class="active"><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li class="divider"></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build a side nav in Foundation 4: either with our predefined HTML classes or our mixins. Building side nav using our predefined classes is simple, you'll just need to write a <code>&lt;ul class="side-nav"&gt;</code> and fill it full of list items. The width of the side nav is controlled by the columns you put it inside.</p>

        <p>The list item options:</p>
        <ul class="disc">
          <li><code>active</code> Will add style to denote the active link.</li>
          <li><code>divider</code> Creates a divider between list items.</li>
        </ul>

<%= code_example '
<ul class="side-nav">
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>', :html %>



        <p>For these styles to come across, make sure you have the default Foundation CSS package or that you've selected side nav from a custom package. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with our Mixins</h3>
        <p>We've included SCSS mixins used to style side nav. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_side-nav.scss">_side-nav.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/side-nav";
', :css %>

        <h5>Quick Mixin</h5>
        <p>You can build your side nav using our global mixin by including it on a custom class or ID in your own stylesheet. The mixin contains options for changing the background color, which also controls the border and text color. You'll also have the ability to change the font-size and padding. The rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include side-nav; }', :css %>

    <p>There are also three options you can customize on the fly when writing this mixin. These controls things like: divider color, text size and font color.</p>

<%= code_example '
/* Using the available options */
.your-class-name { @include side-nav($divider-color, $font-size, $link-color); }

/* Control the color of the divider between links */
$divider-color: $side-nav-divider-color

/* Control your font-size per label */
$font-size: $side-nav-font-size

/* Change the background color for your labels */
$link-color: $side-nav-link-color
', :css %>

        <ul class="side-nav-custom large-3">
          <li class="active"><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li class="divider"></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>


        <h5>Default SCSS Variables</h5>

<%= code_example '
$include-html-nav-classes: $include-html-classes;

/* We use this to control padding. */
$side-nav-padding: em-calc(14 0);

/* We use these to control list styles. */
$side-nav-list-type: none;
$side-nav-list-position: inside;
$side-nav-list-margin: em-calc(0 0 7 0);

/* We use these to control link styles. */
$side-nav-link-color: $primary-color;
$side-nav-link-color-active: lighten(#000, 30%);
$side-nav-font-size: em-calc(14);
$side-nav-font-weight: bold;

/* We use these to control border styles */
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: darken(#fff, 10%);', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>