<% @side_nav = "nav" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Sub Nav" %>
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @page_title %></h1>
        <h4 class="subheader">This simple sub nav is great for moving between different states of a page. We use these frequently to show iterations of something, typically by date, but they're also handy for filters like these.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <dl class="sub-nav">
          <dt>Filter:</dt>
          <dd class="active"><a href="#">All</a></dd>
          <dd><a href="#">Active</a></dd>
          <dd><a href="#">Pending</a></dd>
          <dd><a href="#">Suspended</a></dd>
        </dl>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build sub nav in Foundation 4: you can use our predefined HTML classes or our mixins. Building sub nav using our predefined classes is simple, you'll just need to write a <code>&lt;dl class="sub-nav"&gt;</code> and fill it full of definitions. You can use the definition title as a label at the beginning (useful for building filters on a page).</p>

        <p>The list options:</p>
        <ul class="disc">
          <li><code>&lt;dt&gt;</code> Creates a title at the beginning of the list.</li>
          <li><code>&lt;dd class="active"&gt;</code> Will add style to denote the active link.</li>
        </ul>

<%= code_example '
<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Active</a></dd>
  <dd><a href="#">Pending</a></dd>
  <dd><a href="#">Suspended</a></dd>
</dl>', :html %>

        <p>To use these styles, make sure you have the default Foundation CSS package or that you've selected sub-nav from a custom package. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with our Mixins</h3>
        <p>We've included SCSS mixins used to style sub-nav. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_sub-nav.scss">_sub-nav.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/sub-nav";
', :css %>

        <h5>Quick Mixin</h5>
        <p>You can build your sub-nav using our global mixin by including it on a custom class or ID in your own stylesheet. The mixin contains options for changing the font color, font size and active background color. The rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include sub-nav; }', :css %>

    <p>There are also three options you can customize on the fly when writing this mixin. These controls things like: divider color, text size and font color.</p>

<%= code_example '
/* Using the available options */
.your-class-name { @include sub-nav($font-color, $font-size, $active-bg); }

/* Control the color of the divider between links */
$font-color: $sub-nav-font-color

/* Control your font-size per label */
$font-size: $sub-nav-font-size

/* Change the background color for your labels */
$active-bg: $sub-nav-active-bg
', :css %>

<%= code_example '
/* Using customized options */
.your-class-name { @include sub-nav(orange, 11px, orange); }
', :css %>

        <dl class="sub-nav-custom">
          <dt>Filter:</dt>
          <dd class="active"><a href="#">All</a></dd>
          <dd><a href="#">Active</a></dd>
          <dd><a href="#">Pending</a></dd>
          <dd><a href="#">Suspended</a></dd>
        </dl>


        <h5>Default SCSS Variables</h5>

<%= code_example '
$include-html-nav-classes: $include-html-classes;

/* We use these to control margin and padding */
$sub-nav-list-margin: em-calc(-4 0 18);
$sub-nav-list-padding-top: em-calc(4);

/* We use this to control the definition */
$sub-nav-font-size: em-calc(14);
$sub-nav-font-color: #999;
$sub-nav-font-weight: normal;
$sub-nav-text-decoration: none;
$sub-nav-border-radius: 1000px;

/* We use these to control the active item styles */
$sub-nav-active-font-weight: bold;
$sub-nav-active-bg: $primary-color;
$sub-nav-active-color: #fff;
$sub-nav-active-padding: em-calc(3 9);
$sub-nav-active-cursor: default;

/* We use these to the item divider */
$sub-nav-item-divider: "";
$sub-nav-item-divider-margin: emCalc(12);', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>