<% @side_nav = "forms" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Switch" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Switches can be used instead of regular radio buttons to switch between two options. They are customizable and use styles that won't show on phones that don't support media queries. On these devices, they will appear as regular radio buttons.</h4>

        <div class="small-2 switch tiny">
          <input id="a" name="switch-a" type="radio" checked>
          <label for="a" onclick="">Off</label>

          <input id="a1" name="switch-a" type="radio">
          <label for="a1" onclick="">On</label>

          <span></span>
        </div>

        <div class="small-3 switch small">
          <input id="b" name="switch-b" type="radio" checked>
          <label for="b" onclick="">Off</label>

          <input id="b1" name="switch-b" type="radio">
          <label for="b1" onclick="">On</label>

          <span></span>
        </div>

        <div class="small-4 switch radius">
          <input id="c" name="switch-c" type="radio" checked>
          <label for="c" onclick="">Off</label>

          <input id="c1" name="switch-c" type="radio">
          <label for="c1" onclick="">On</label>

          <span></span>
        </div>

        <div class="small-6 switch large round">
          <input id="d" name="switch-d" type="radio" checked>
          <label for="d" onclick="">Off</label>

          <input id="d1" name="switch-d" type="radio">
          <label for="d1" onclick="">On</label>

          <span></span>
        </div>

        <hr>

      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build switches in Foundation 4: with our predefined HTML classes or with our mixins. Building switches using our predefined classes is simple, you'll just need a <code>div.switch</code> wrapped around a specific input/label markup. From there, you can update the styles as you need to. The switches width is 100% of the container you put it in or you can use our grid classes, <code>.small-#</code> or <code>.large-#</code>, directly on the switch.</p>

<%= code_example '
<!-- Default switch -->
<div class="switch">
  <input id="x" name="switch-x" type="radio" checked>
  <label for="x" onclick="">Off</label>

  <input id="x1" name="switch-x" type="radio">
  <label for="x1" onclick="">On</label>

  <span></span>
</div>

<!-- Using class options -->
<div class="switch large round">
  <input id="z" name="switch-z" type="radio" checked>
  <label for="z" onclick="">Off</label>

  <input id="z1" name="switch-z" type="radio">
  <label for="z1" onclick="">On</label>

  <span></span>
</div>', :html %>

        <p>The class options:</p>
        <ul class="disc">
          <li><code>radius</code>: Add this to the the switch container to get a 3px radius paddle and edges</li>
          <li><code>round</code>: Add this to the the switch container to get a round paddle and edges</li>
          <li><code>tiny</code>: Set the height and text of the switch to tiny</li>
          <li><code>small</code>: Set the height and text of the switch to small</li>
          <li><code>large</code>: Set the height and text of the switch to large</li>
        </ul>

        <p>To use these styles, make sure you have the default Foundation CSS package or that you've selected switches from a custom package. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with our Mixins</h3>
        <p>We've included SCSS mixins used to style switches. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_switch.scss">_switch.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables", "foundation/components/global", "foundation/components/switch";
', :css %>

        <p>The markup is pretty simple, you'll only need a single class or ID on the container to apply the mixin.</p>

<%= code_example '
<div class="your-class-name">
  <input id="z" name="switch-z" type="radio" checked>
  <label for="z" onclick="">Off</label>

  <input id="z1" name="switch-z" type="radio">
  <label for="z1" onclick="">On</label>

  <span></span>
</div>
', :html %>

        <h5>Quick Mixin</h5>
        <p>You can build your labels using our global mixin by including it on your custom class or ID in your own stylesheet. The mixin contains options for changing the key styles, the rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include switch; }', :css %>

        <div class="switch">
          <input id="y" name="switch-y" type="radio" checked>
          <label for="y" onclick="">Off</label>

          <input id="y1" name="switch-y" type="radio">
          <label for="y1" onclick="">On</label>

          <span></span>
        </div>

        <p>There are <strong>ten options</strong> you can customize on the fly when writing this mixin. These controls things like: padding, text size, color and radius. Setting any of these options to false will negate those styles.</p>

<%= code_example '
/* Using the available options */
.your-class-name {
  @include switch($transition-speed, $transition-ease, $height, $font-size, $line-height, $paddle-bg, $positive-color, $negative-color, $radius, $base-style);
}

/* This sets the speed at which the switch toggles */
$transition-speed: $switch-paddle-transition-speed

/* This sets the ease of the switch transition */
$transition-ease: $switch-paddle-transition-ease

/* This controls the overall height of the switch */
$height: $switch-height-med

/* You can set a different font-size for you switch */
$font-size: $switch-font-size-med

/* You can set a different line-height too */
$line-height: 2.3em

/* This controls the background of the paddle */
$paddle-bg: $switch-paddle-bg

/* Set the box-shadow color for the right side of the switch */
$positive-color: $switch-positive-color

/* Set the box-shadow color for the left side of the switch */
$negative-color: $switch-negative-color

/* Set this to true for default radius or any number for complete control */
$radius: false

/* If you set this to false, base styles are left out */
$base-style: true
', :css %>

        <div class="switch-custom">
          <input id="w" name="switch-w" type="radio" checked>
          <label for="w" onclick="">Off</label>

          <input id="w1" name="switch-w" type="radio">
          <label for="w1" onclick="">On</label>

          <span></span>
        </div>

        <h5>Base Mixin</h5>
        <p>You also have access to a few internal mixins that can create parts of the button as needed. The base mixin will create a switch base that only include structural styles.</p>

<%= code_example '
.your-class-name { @include switch-base($transition-speed, $transition-ease); }
', :css %>

        <div class="switch-custom-base">
          <input id="o" name="switch-o" type="radio" checked>
          <label for="o" onclick="">Off</label>

          <input id="o1" name="switch-o" type="radio">
          <label for="o1" onclick="">On</label>

          <span></span>
        </div>

        <h5>Size Mixin</h5>
        <p>The size mixin will let you control the size of the switch, font-size and line-height.</p>

<%= code_example '
.your-class-name {
  @include switch-base($transition-speed, $transition-ease);
  @include switch-size($height, $font-size, $line-height);
}
', :css %>

        <div class="switch-custom-base size">
          <input id="o2" name="switch-o2" type="radio" checked>
          <label for="o2" onclick="">Off</label>

          <input id="o3" name="switch-o2" type="radio">
          <label for="o3" onclick="">On</label>

          <span></span>
        </div>

        <h5>Style Mixin</h5>
        <p>The last internal mixin you have access to for buttons is the style mixin. This will help you style background color, text color, positive/negative color, etc.</p>

<%= code_example '
.your-class-name {
  @include switch-base($transition-speed, $transition-ease);
  @include switch-size($height, $font-size, $line-height);
  @include switch-style($paddle-bg, $positive-color, $negative-color, $radius, $base-style);
}
', :css %>

        <div class="switch-custom-base size style">
          <input id="o4" name="switch-o3" type="radio" checked>
          <label for="o4" onclick="">Off</label>

          <input id="o5" name="switch-o3" type="radio">
          <label for="o5" onclick="">On</label>

          <span></span>
        </div>

        <h5>Default SCSS Variables</h5>

<%= code_example '
$include-html-form-classes: $include-html-classes;

/* Controlling border styles and background colors for the switch container */
$switch-border-color: darken(#fff, 20%);
$switch-border-style: solid;
$switch-border-width: 1px;
$switch-bg: #fff;

/* We use these to control the switch heights for our default classes */
$switch-height-tny: 22px;
$switch-height-sml: 28px;
$switch-height-med: 36px;
$switch-height-lrg: 44px;
$switch-bottom-margin: em-calc(20);

/* We use these to control default font sizes for our classes. */
$switch-font-size-tny: 11px;
$switch-font-size-sml: 12px;
$switch-font-size-med: 14px;
$switch-font-size-lrg: 17px;
$switch-label-side-padding: 6px;

/* We use these to style the switch-paddle */
$switch-paddle-bg: #fff;
$switch-paddle-fade-to-color: darken($switch-paddle-bg, 10%);
$switch-paddle-border-color: darken($switch-paddle-bg, 35%);
$switch-paddle-border-width: 1px;
$switch-paddle-border-style: solid;
$switch-paddle-transition-speed: .1s;
$switch-paddle-transition-ease: ease-out;
$switch-positive-color: lighten($success-color, 50%);
$switch-negative-color: #f5f5f5;

/* Outline Style for tabbing through switches */
$switch-label-outline: 1px dotted #888;', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>

</div>