<% @side_nav = "css" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Thumbnails" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">If you are going to use an image as an anchor, we got you covered. All you gotta do is wrap an <code>a.th</code> around your image and voilà!</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <a class="th" href="../img/demos/demo1.jpg"><img src="../img/demos/demo1-th.jpg"></a>

        <hr>

        <h3>Building With Predefined HTML Class</h3>
        <p>We make it really easy to create thumbnails links out of images. Simply wrap your <code>&lt;img&gt;</code> inside a <code>&lt;a class="th"&gt;</code> and you're good to go! You may alternately choose to add a class of <code>.radius</code> to give it a neat little border-radius.</p>

<%= code_example '
<a class="th radius" href="../img/demos/demo2.png">
<img src="../img/demos/demo2-th.png">
</a>', :html %>

        <a class="th radius" href="../img/demos/demo2.jpg"><img src="../img/demos/demo2-th.jpg"></a>

        <hr>

        <h3>Build with our Mixins</h3>
        <p>We've included SCSS mixins used to style labels. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_thumbs.scss">_thumbs.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<%= code_example '
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/thumbs";
', :css %>

        <h5>Quick Mixin</h5>
        <p>You can build your labels using our global mixin by including it on your custom class or ID  in your own stylesheet. The mixin contains options for changing the background color, which also controls the border and text color. You'll also have the ability to change the font-size and padding. The rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>

<%= code_example '
/* Using the default styles */
.your-class-name { @include thumb; }', :css %>

        <p><a class="th" href="../img/demos/demo3.jpg"><img src="../img/demos/demo3-th.jpg"></a></p>

        <p>There are also three options you can customize on the fly when writing this mixin. These controls things like: border-width and hover styles for the box-shadow.</p>

<%= code_example '
/* Using the available options */
.your-class-name { @include thumb($border-width, $box-shadow, $box-shadow-hover); }

/* Control the width of the white area around the thumbnails */
$border-width: $thumb-border-width

/* Control the default box-shadow that looks like a 1px border */
$box-shadow: $thumb-box-shadow

/* Change up the style of that box-shadow on hover */
$box-shadow-hover: $thumb-box-shadow-hover
', :css %>

        <p>You can also add the radius and single-transition mixin on top of this to create even more versatility!</p>

        <p><a class="th-custom" href="../img/demos/demo4.jpg"><img src="../img/demos/demo4-th.jpg"></a></p>

        <h5>Default SCSS Variables</h5>

<%= code_example '
$include-html-media-classes: $include-html-classes;

/* We use these to control border styles */
$thumb-border-style: solid;
$thumb-border-width: 4px;
$thumb-border-color: #fff;
$thumb-box-shadow: 0 0 0 1px rgba(#000,.2);
$thumb-box-shadow-hover: 0 0 6px 1px rgba($primary-color,0.5);

/* Radius and transition speed for thumbs */
$thumb-radius: $global-radius;
$thumb-transition-speed: 200ms;', :css %>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
