<% @side_nav = "nav" %>
<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Top Bar" %>
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @page_title %></h1>
        <h4 class="subheader">The Foundation Top Bar gives you a great way to display a complex navigation bar on small or large screens.</h4>

        <nav class="top-bar">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">

            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">
              <li class="has-dropdown"><a href="<%= features_path %>">Item 1</a>

                <ul class="dropdown">
                  <li><label>Level One</label></li>
                  <li><a href="#">Sub-item 1</a></li>
                  <li><a href="#">Sub-item 2</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sub-item 3</a></li>
                  <li class="has-dropdown"><a href="#">Sub-item 4</a>

                    <ul class="dropdown">
                      <li><label>Level Two</label></li>
                      <li class="has-dropdown"><a href="#">Sub-item 1</a>

                        <ul class="dropdown">
                          <li><label>Level Three</label></li>
                          <li class="has-dropdown"><a href="#">Sub-item 1</a>

                            <ul class="dropdown">
                              <li><label>Level Four</label></li>
                              <li><a href="#">Sub-item 1</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Sub-item 2</a></li>
                          <li><a href="#">Sub-item 3</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Sub-item 4</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Sub-item 2</a></li>
                      <li><a href="#">Sub-item 3</a></li>
                      <li><a href="#">Sub-item 4</a>
                    </ul>
                  </li>
                  <li><a href="#">Sub-item 5</a></li>
                </ul>
              </li>
              <li class="divider"></li>
            </ul>
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="divider hide-for-small"></li>
              <li><a href="#">Item 2</a></li>
            </ul>
          </section>
        </nav>

        <hr>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <h3>Build With HTML Classes</h3>
        <p>The top bar is a pretty complex piece of magical UI goodness, which makes it really difficult to create a mixin from it. We rely on many presentational classes to accomplish the styles and there's a lot happening in the JS. The top bar is hoverable by default but can be changed to a click event by adding a simple <code>data-options="is_hover:false"</code> to the <code>&lt;nav&gt;</code> element. <a href="#clickable">See an example below</a>.</p>

        <h5>Basic Needs</h5>
        <p>The top bar has four main elements, three of which are needed for proper functionality: <code>ul.title-area</code>, a <code>ul class="right/left</code> element enclosed in a <code>section class="top-bar-section"</code>, and the <code>li.toggle-topbar</code> element that will expand the menu in the mobile layout.</p>

        <h5>Positioning the Bar</h5>
        <p>The top bar is built with a single <code>nav</code> element with a class of <code>top-bar</code>. It will take on full-browser width by default. To make the top bar stay fixed as you scroll, wrap it in <code>div class="fixed"</code>. If you want your navigation to be set to your grid width, wrap it in <code>div class="contain-to-grid"</code>. You may use <code>fixed</code> and <code>contain-to-grid</code> together in the wrapping div (<code>div class="contain-to-grid fixed</code>).</p>

        <h5>Building the Nav</h5>
        <p>When building your bar it is good to be aware of how many links you're going to need in it so you can customize your responsive breakpoint accordingly. Build your navigation with <code>ul.left</code> and/or <code>ul.right</code> depending where you want links. To add items, simply include <code>li</code> elements with an anchor inside them for your top-level. To build a dropdown menu, you'll need to add <code>has-dropdown</code> to the <code>li</code> and include <code>ul.dropdown</code> after that anchor. Add a class of <code>active</code> to mark the current page.</p>

        <nav class="top-bar hide-for-small" style="">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1>
                <a href="http://www.zurb.com/expo">
                  Expo
                </a>
              </h1>
            </li>
            <li class="toggle-topbar"><a href="#"></a></li>
          </ul>


          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li><a href="#">Courses</a></li>
              <li class="has-dropdown">
                <a href="#">Library</a>
                <ul class="dropdown">
                  <li><a href="http://patterntap.com">Pattern Tap</a></li>
                  <li><a href="http://www.zurb.com/word">Word</a></li>
                  <li><a href="http://www.zurb.com/responsive">Responsive</a></li>
                  <li><a href="http://www.zurb.com/playground">Playground</a></li>
                  <li><a href="http://www.zurb.com/quips">Quips</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="http://www.zurb.com/expo/community">Community</a>
                <ul class="dropdown">
                  <li><a href="http://www.forrst.com">Forrst</a></li>
                  <li><a href="http://www.zurb.com/soapbox">Soapbox</a></li>
                  <li><a href="http://www.zurb.com/speak">Speak</a></li>
                  <li><a href="http://www.zurb.com/wired">Wired</a></li>
                  <li><a href="http://www.enrollapp.com">Enroll</a></li>
                </ul>
              </li>
              <li>
                <a href="http://www.zurb.com/jobs">Job Board</a>
              </li>
              <!--

              <li class="logged-in has-dropdown">
                <a href="#">
                  <div class="avatar">
                    <img src="http://placehold.it/25x25">
                    User-Name Here
                  </div>
                </a>
                <ul class="dropdown">
                  <li><a href="#"><img src="http://placehold.it/20x20&text=N">Notable</a></li>
                  <li><a href="#"><img src="http://placehold.it/20x20&text=S">Solidify</a></li>
                  <li><a href="#"><img src="http://placehold.it/20x20&text=V">Verify</a></li>
                  <li><a href="#"><img src="http://placehold.it/20x20&text=I">Influence</a></li>
                  <li class="signout"><a href="#">Sign Out</a></li>
                </ul>
              </li>
        -->

            </ul>
          </section>
        </nav>

        <h5>Other Elements</h5>
        <p>To make this navigation nice and flexible, we've included patterns for elements like buttons, inputs and dividers. To create dividers between your navigation, just add an empty <code>li.divider</code> and you'll get some separation. You can use a small Foundation button in the nav, just include <code>has-form</code> as a class for its parent li. You can include two different input types: search and text. To use these, add a class of search to the parent li.</p>

        <h5>Remove the Title</h5>
        <p>If you want a bar that doesn't include a title, just take out the content within the list item, like so:</p>
<%= code_example '
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><!-- Leave this empty --></li>
    ...
  </ul>
</nav>', :html %>

        <h5>Sticky Top Bar</h5>
        <p>You may also wrap your top bar in <code>div class="contain-to-grid sticky"</code> and put it anywhere within your markup. When the navigation hits the top of the browser, it will act like the fixed top bar and stick to the top as users continue to scroll. <strong>Note:</strong> If you are using Scss, you can control the default <code>sticky</code> class by adjusting the <code>$topbar-sticky-class</code> variable. <strong>Make sure the JS variable for <code>stickyClass</code> matches whatever class you use in the variable.</strong></p>

<%= code_example '
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Top Bar Title </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#">Main Item 1</a></li>
      <li class="divider"></li>
      <li><a href="#">Main Item 2</a></li>
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Main Item 3</a>

        <ul class="dropdown">
          <li class="has-dropdown"><a href="#">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><label>Dropdown Level 2 Label</label></li>
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><label>Dropdown Level 3 Label</label></li>
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>
      <li class="has-dropdown"><a href="#">Main Item 4</a>

        <ul class="dropdown">
          <li><label>Dropdown Level 1 Label</label></li>
          <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

            <ul class="dropdown">
              <li><a href="#">Dropdown Level 2a</a></li>
              <li><a href="#">Dropdown Level 2b</a></li>
              <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                <ul class="dropdown">
                  <li><a href="#">Dropdown Level 3a</a></li>
                  <li><a href="#">Dropdown Level 3b</a></li>
                  <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown Level 2d</a></li>
              <li><a href="#">Dropdown Level 2e</a></li>
              <li><a href="#">Dropdown Level 2f</a></li>
            </ul>
          </li>
          <li><a href="#">Dropdown Level 1b</a></li>
          <li><a href="#">Dropdown Level 1c</a></li>
          <li class="divider"></li>
          <li><label>Dropdown Level 1 Label</label></li>
          <li><a href="#">Dropdown Level 1d</a></li>
          <li><a href="#">Dropdown Level 1e</a></li>
          <li><a href="#">Dropdown Level 1f</a></li>
          <li class="divider"></li>
          <li><a href="#">See all &rarr;</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-4 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <a class="button" href="#">Button!</a>
      </li>
    </ul>
  </section>
</nav>', :html %>

      <a name="clickable"></a>
      <h4>Clickable Topbar</h4>
      <p>You can now make the top bar clickable by adding a data-attribute to the nav element. Here's an example:</p>
      <nav class="top-bar" data-options="is_hover:false">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1><a href="#">Clickable Top Bar</a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider hide-for-small"></li>
            <li class="has-dropdown"><a href="#">Main Item 1</a>

              <ul class="dropdown">
                <li><label>Dropdown Level 1 Label</label></li>
                <li class="has-dropdown"><a href="#" class="">Dropdown Level 1a</a>

                  <ul class="dropdown">
                    <li><a href="#">Dropdown Level 2a</a></li>
                    <li><a href="#">Dropdown Level 2b</a></li>
                    <li class="has-dropdown"><a href="#">Dropdown Level 2c</a>

                      <ul class="dropdown">
                        <li><a href="#">Dropdown Level 3a</a></li>
                        <li><a href="#">Dropdown Level 3b</a></li>
                        <li><a href="#">Dropdown Level 3c</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Dropdown Level 2d</a></li>
                    <li><a href="#">Dropdown Level 2e</a></li>
                    <li><a href="#">Dropdown Level 2f</a></li>
                  </ul>
                </li>
                <li><a href="#">Dropdown Level 1b</a></li>
                <li><a href="#">Dropdown Level 1c</a></li>
                <li class="divider"></li>
                <li><label>Dropdown Level 1 Label</label></li>
                <li><a href="#">Dropdown Level 1d</a></li>
                <li><a href="#">Dropdown Level 1e</a></li>
                <li><a href="#">Dropdown Level 1f</a></li>
                <li class="divider"></li>
                <li><a href="#">See all &rarr;</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>

<%= code_example '
<nav class="top-bar" data-options="is_hover:false">', :html %>
      <hr>

      <h4>Available SCSS Variables</h4>
      <p>We do include SCSS variable to help you control some of the styles for the top bar. Overall the styles are written mobile first, so they are much easier to override than the previous iteration of the top bar.</p>

<%= code_example '
$include-html-top-bar-classes: $include-html-classes;

/* Background color for the top bar */
$topbar-bg: #111;

/* Height and margin */
$topbar-height: 45px;
$topbar-margin-bottom: em-calc(30);

/* Control Input height for top bar */
$topbar-input-height: 2.45em;

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: bold;
$topbar-title-font-size: em-calc(17);

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: #222;
$topbar-dropdown-link-color: #fff;
$topbar-dropdown-link-bg: lighten($topbar-bg, 5%);
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #fff;
$topbar-dropdown-toggle-alpha: 0.5;

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #fff;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-weight: bold;
$topbar-link-font-size: em-calc(13);
$topbar-link-hover-lightness: -30%; /* Darken by 30% */
$topbar-link-bg-hover: darken($topbar-bg, 3%);
$topbar-link-bg-active: darken($topbar-bg, 3%);

$topbar-dropdown-label-color: #555;
$topbar-dropdown-label-bg: lighten($topbar-bg, 5%);
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: em-calc(10);

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: em-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #fff;
$topbar-menu-icon-color: #fff;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

/* Transitions and breakpoint styles */
$topbar-transition-speed: 300ms;
$topbar-breakpoint: em-calc(940); /* Change to 9999px for always mobile layout */
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";

/* Divider Styles */
$topbar-divider-border-bottom: solid 1px lighten($topbar-bg, 10%);
$topbar-divider-border-top: solid 1px darken($topbar-bg, 10%);

/* Sticky Class */
$topbar-sticky-class: ".sticky";
$topbar-arrows: true; //Set false to remove the triangle icon from the menu item', :css %>

        <p><strong>Note:</strong> <code>em-calc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>

        <hr>

        <h3>Using the JavaScript</h3>
        <div class="panel">
          Before you can use the top bar you'll want to verify that both jQuery (or Zepto) and <code>foundation.js</code> are available on your page. You can refer to the <a href="../javascript.html">javascript documentation</a> on setting that up.
        </div>

        <p>Just add <code>foundation.topbar.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>

        <%= code_example '
<body>

  ...

  <script>
      document.write(\'<script src=/js/vendor/\'
        + (\'__proto__\' in {} ? \'zepto\' : \'jquery\')
        + \'.js><\/script>\');
    </script>

  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.topbar.js"></script>
  <!-- Other JS plugins can be included here -->

  <script>
    $(document).foundation();
  </script>

</body>
        ', :html %>
        <p>Required Foundation Library: <code>foundation.topbar.js</code></p>

        <h5>Optional JavaScript Configuration</h5>

        <p>Top bar now supports <code>data-options</code> configuration.</p>

    <%= code_example "
{
  index : 0,
  stickyClass : 'sticky',
  custom_back_text: true, // Set this to false and it will pull the top level link name as the back text
  back_text: 'Back', // Define what you want your custom back text to be if custom_back_text: true
  is_hover: true,
  scrolltop : true, // jump to top when sticky nav menu toggle is clicked
  init : false
}", :js %>
      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
