#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.9); /* change if the mask should have another color then white */
    z-index: 99; /* makes sure it stays on top */
    display: none;
}

#status {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(/static/core/images/preloader.GIF); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

#status p {
    padding-top:80px;
    width:200px;
    font-size:120%;
    margin-left:-20px;
}