.ui-timepickr {
    position:absolute;
    width:480px; 
}

.ui-timepickr-row {
    margin:0;
    padding:0;
    margin-top:2px; 
    display:none;
    position:relative;
}

.ui-timepickr-button {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
    list-style-type:none;
}

.ui-timepickr-button span {
    font-size:.7em;
    padding:4px 6px 4px 6px;
    margin-left:2px;
    text-align:center;
    cursor:pointer;
    display:block;
    text-align:center;


    /* system theme (default) */
    border-width:1px;
    border-style:solid;
    /*border-color:ThreeDLightShadow ThreeDShadow ThreeDShadow ThreeDLightShadow;
    color:ButtonText;
    background:ButtonFace;*/
}

.ui-timepickr-button span.ui-state-hover {
    /*color:HighlightText;
    background:Highlight;*/
}

.ui-state-hover span {
    /*background:#c30;*/
}