{% csrf_token %}
    <div class="row">
        <div class="large-8 columns">
            <div class="row">
                <div class="large-4 columns{% if form.aircraft_mark.errors %} error{% endif %}" >
                    <label for="{{ form.aircraft_mark.html_name }}">{{ form.aircraft_mark.label }}</label>
                    {{ form.aircraft_mark }}
                    {% if form.aircraft_mark.errors %}
                        {% for error in form.aircraft_mark.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="large-4 offset-4 columns{% if form.calendar_colour.errors %} error{% endif %}" >
                    <label for="{{ form.calendar_colour.html_name }}">{{ form.calendar_colour.label }}</label>
                    {{ form.calendar_colour }}
                    {% if form.calendar_colour.errors %}
                        {% for error in form.calendar_colour.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns{% if form.aircraft_type_name.errors %} error{% endif %}" >
                    <label for="{{ form.aircraft_type_name.html_name }}">{{ form.aircraft_type_name.label }}</label>
                    {{ form.aircraft_type_name }}
                    {% if form.aircraft_type_name.errors %}
                        {% for error in form.aircraft_type_name.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns{% if form.aircraft_description.errors %} error{% endif %}" >
                    <label for="{{ form.aircraft_description.html_name }}">{{ form.aircraft_description.label }}</label>
                    {{ form.aircraft_description }}
                    {% if form.aircraft_description.errors %}
                        {% for error in form.aircraft_description.errors %}
                            <small>{{ error|escape }}</small>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="large-4 columns">
        <!-- Used to display CASA details pulled from Mark lookup -->
    </div>
    </div>
<div class="row">
    <fieldset>
        <legend>
            Prices and Costs
        </legend>
        <div class="row">
            <div class="large-6 small-6 columns">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="{{ form.hourly_rate.html_name }}" class="right inline">{{ form.hourly_rate.label }}</label>
                    </div>
                    <div class="small-6 columns{% if form.hourly_rate.errors %} error{% endif %}">
                        {{ form.hourly_rate }}
                        {% if form.hourly_rate.errors %}
                            {% for error in form.hourly_rate.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="large-6 small-6 columns">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="{{ form.takeoff_cost.html_name }}" class="right inline">{{ form.takeoff_cost.label }}</label>
                    </div>
                    <div class="small-6 columns{% if form.takeoff_cost.errors %} error{% endif %}">
                        {{ form.takeoff_cost }}
                        {% if form.takeoff_cost.errors %}
                            {% for error in form.takeoff_cost.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 small-6 columns">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="{{ form.avg_speed.html_name }}" class="right inline">{{ form.avg_speed.label }}</label>
                    </div>
                    <div class="small-6 columns{% if form.avg_speed.errors %} error{% endif %}">
                        {{ form.avg_speed }}
                        {% if form.avg_speed.errors %}
                            {% for error in form.avg_speed.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="large-6 small-6 columns">
                <div class="row">
                    <div class="small-6 columns">
                        <label for="{{ form.max_pax.html_name }}" class="right inline">{{ form.max_pax.label }}</label>
                    </div>
                    <div class="small-6 columns{% if form.max_pax.errors %} error{% endif %}">
                        {{ form.max_pax }}
                        {% if form.max_pax.errors %}
                            {% for error in form.max_pax.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <input type="submit" value="Save" class="small button radius success"/>
</div>
