{% csrf_token %}
    <div class="row">
        <div class="large-12 columns">
            {% if pre_pop_aircraft %}
                <div class="row">
                    <div class="large-4 columns">
                        <div class="panel">Aircraft</div>
                    </div>
                    <div class="large-8 columns">
                        <p>{{ form.aircraft.initial }}</p>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="large-8 columns{% if form.aircraft.errors %} error{% endif %}" >
                        <label for="{{ form.aircraft.html_name }}">{{ form.aircraft.label }}</label>
                        {{ form.aircraft }}
                        {% if form.aircraft.errors %}
                            {% for error in form.aircraft.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if pre_pop_rule %}
                <div class="row">
                    <div class="large-4 columns">
                        <div class="panel">Maintenance Rule</div>
                    </div>
                    <div class="large-8 columns">
                        <p>{{ form.maintenance_rule.initial }}</p>
                    </div>
                </div>
            {% elif pre_pop_aircraft %}
                <div class="section-container accordian" data-section="accordian">
                    <section class="active">
                        <p class="title" data-section-title><a href="#">Maintenance Details</a></p>
                        <div class="content" data-section-content>
                            <div class="row">
                                <div class="large-4 columns">
                                    <div class="switch small round">
                                        <input type="radio" name="maintenance_by" value="False" />
                                        <label onclick="">No</label>
                                        <input type="radio" name="maintenance_by" value="True" />
                                        <label onclick="">Yes</label>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-4 columns{% if form.maintenance_rule.errors %} error{% endif %}" >
                                    <label for="{{ form.maintenance_rule.html_name }}">{{ form.maintenance_rule.label }}</label>
                                    {{ form.maintenance_rule }}
                                    {% if form.maintenance_rule.errors %}
                                        {% for error in form.maintenance_rule.errors %}
                                            <small>{{ error|escape }}</small>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-4 columns{% if form.maintenance_by.errors %} error{% endif %}" >
                                    <label for="{{ form.maintenance_by.html_name }}">{{ form.maintenance_by.label }}</label>
                                    {{ form.maintenance_by }}
                                    {% if form.maintenance_by.errors %}
                                        {% for error in form.maintenance_by.errors %}
                                            <small>{{ error|escape }}</small>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            {% endif %}
        </div>
    </div>
<div class="row">
    <div class="large-6 columns{% if form.entry_time.errors %} error{% endif %}" >
        <label for="{{ form.entry_time.html_name }}">{{ form.entry_time.label }}</label>
        {{ form.entry_time }}
        {% if form.entry_time.errors %}
            {% for error in form.entry_time.errors %}
                <small>{{ error|escape }}</small>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <fieldset>
        <legend>
            Instruments and Data
        </legend>
        <div class="row">
            <div class="large-6 small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">{{ form.tach.label }}</span>
                    </div>
                    <div class="small-8 columns{% if form.tach.errors %} error{% endif %}">
                        {{ form.tach }}
                        {% if form.tach.errors %}
                            {% for error in form.tach.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="large-6 small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">{{ form.hobbs.label }}</span>
                    </div>
                    <div class="small-8 columns{% if form.hobbs.errors %} error{% endif %}">
                        {{ form.hobbs }}
                        {% if form.hobbs.errors %}
                            {% for error in form.hobbs.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">{{ form.flight_time_hrs.label }}</span>
                    </div>
                    <div class="small-6 columns collapse{% if form.flight_time_hrs.errors %} error{% endif %}">
                        {{ form.flight_time_hrs }}
                        {% if form.flight_time_hrs.errors %}
                            {% for error in form.flight_time_hrs.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="small-2 columns collapse">
                        <span class="postfix radius">Hrs</span>
                    </div>
                </div>
            </div>
            <div class="large-6 small-6 columns">
                <div class="row collapse">
                    <div class="small-4 columns">
                        <span class="prefix">{{ form.cycles.label }}</span>
                    </div>
                    <div class="small-8 columns{% if form.cycles.errors %} error{% endif %}">
                        {{ form.cycles }}
                        {% if form.cycles.errors %}
                            {% for error in form.cycles.errors %}
                                <small>{{ error|escape }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <input type="submit" value="Save" class="small button radius success"/>
</div>
