{% extends "aircraft/base.html" %}

{% block content %}
    <h4>Add a new Aircraft</h4>
    
<form action="/aircraft/add/" method="post">{% csrf_token %}
    {% include "aircraft/_aircraft_form.html" %}
</form>
{% endblock %}