{% extends "aircraft/base.html" %}

{% block content %}
    <h4>Update Aircraft</h4>
    
    <form action="/aircraft/{{ object.pk }}/update/" method="post">
        {% include "aircraft/_aircraft_form.html" %}
    </form>
{% endblock %}