{% extends "aircraft/base.html" %}

{% block content %}
    <h4>Fleet</h4>
    <ul>
        {% for aircraft in aircraft_list %}
            <li><a href="{% url "aircraft-detail" pk=aircraft.pk %}">Aircraft {{ aircraft.to_title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}