{% extends "aircraft/base.html" %}

{% block content %}
    <h4>Aircraft</h4>
    <div class="row">
        <div class="large-9 columns">
            <h4 class="subheader">{{ object.aircraft_type_name }}</h4>
        </div>
        <div class="large-3 columns">
            <h5 class="subheader">{{ object.aircraft_mark }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p>{{ object.aircraft_description }}</p>

            <h6 class="subheader">Recently...</h6>
            <table>
                <thead>
                    <tr>
                        <th width="200">Log Entry</th>
                        <th width="150">Pilot</th>
                        <th>Details</th>
                        <th width="75">Hours</th>
                        <th width="75">Cycles</th>
                        <th width="100">More</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logs %}
                        {% for log in logs %}
                            <tr>
                                <td>{{ log.entry_time|date:"SHORT_DATETIME_FORMAT" }}</td>
                                <!-- TODO link to profile for pilot -->
                                <td>{{ log.pilot.get_short_name }}</td>
                                <td>{{ log.comments }}</td>
                                <td>{{ log.flight_time_hrs }}</td>
                                <td>{{ log.cycles }}</td>
                                <td><a href="{% url "log-detail" pk=log.pk %}">View entry</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No entries</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <p><a href="{% url "log-create" %}">Add a new entry...</a></p>

            <h6 class="subheader">Maintenance</h6>
            <table>
                <thead>
                    <tr>
                        <th width="300">Name</th>
                        <th width="150">Every</th>
                        <th width="100">Next due</th>
                        <th width="100">More</th>
                    </tr>
                </thead>
                <tbody>
                    {% if rules %}
                        {% for rule in rules %}
                            <tr>
                                <td>{{ rule.name }}</td>
                                <td>{% if rule.calendar_incr > 0 %}
                                        {{ rule.calendar_incr }}&nbsp;{{ rule.calendar_incr_type_decode }}{{ rule.calendar_incr|pluralize }}
                                    {% elif rule.flight_hrs_incr %} 
                                        {{ rule.flight_hrs_incr }} hour{{ rule.flight_hrs_incr|pluralize }}
                                    {% elif rule.cycles_incr %} cycles
                                        {{ rule.cycles_incr }} cycle{{ rule.cycles_incr|pluralize }}
                                    {% endif %}
                                </td>
                                <td>{{ rule.next_due_value }}</td>
                                <td><a href="{% url "rule-detail" pk=rule.pk %}">View rule</a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No entries</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <p><a href="{% url "rule-create" %}">Add a new rule...</a></p>

            <fieldset>
                <legend>
                Prices and Costs
                </legend>
                <div class="row">
                    <div class="large-3 columns">
                        <p>Hourly Rate</p>
                    </div>
                    <div class="large-3 columns">
                        <p>{{ object.hourly_rate|floatformat:2 }}</p>
                    </div>
                    <div class="large-3 columns">
                        <p>Takeoff Cost</p>
                    </div>
                    <div class="large-3 columns">
                        <p>{{ object.takeoff_cost|floatformat:2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-3 columns">
                        <p>Average Speed</p>
                    </div>
                    <div class="large-3 columns">
                        <p>{{ object.avg_speed|floatformat:1 }}</p>
                    </div>
                    <div class="large-3 columns">
                        <p>Pax</p>
                    </div>
                    <div class="large-3 columns">
                        <p>{{ object.max_pax }}</p>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}