{% extends "aircraft/base.html" %}

{% block content %}
    <h4>Log Entry</h4>
    <div class="row">
        {% if object.aircraft %}
        <div class="large-9 columns">
            <h4 class="subheader">{{ object.aircraft.aircraft_type_name }}</h4>
        </div>
        <div class="large-3 columns">
            <h5 class="subheader">{{ object.aircraft.aircraft_mark }}</h5>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p>Logged on {{ object.entry_time }}</p>
            {% if object.comments != '' %}
                <h5 class="subheader">Comments</h5>
                <p>{{ object.comments }}</p>
            {% endif %}
            {% if object.maintenance_rule %}
                <h5 class="subheader">Maintenance Details</h5>
                {% if not object.maintenance_complete %}
                    <div data-alert class="alert-box">
                    This maintenance was not marked as complete.
                    </div>
                {% endif %}
                <p>Maintenance for {{ object.maintenance_rule.name }}</p>
                <!-- TODO link to profile for maintenance_by -->
                <p>Performed by {{ object.maintenance_by.get_full_name }}</p>
            {% endif %}
            {%if object.pilot %}
                <!-- TODO link to profile for pilot -->
                <p>{{ object.pilot.get_full_name }} was pilot.</p>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th width="150">Tach</th>
                        <th width="150">Hobbs</th>
                        <th width="150">Hours</th>
                        <th width="150">Cycles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ object.tach }}</td>
                        <td>{{ object.hobbs }}</td>
                        <td>{{ object.flight_time_hrs }}</td>
                        <td>{{ object.cycles }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}