{% extends "aircraft/base.html" %}
{% load staticfiles %}

{% block content %}
    <h4>Add a log entry</h4>
    
<form action="/log/add/" method="post">
    {% include "aircraft/_log_form.html" %}
</form>
{% endblock %}

{% block extra_js %}
  <script src="{% static "core/js/foundation/foundation.section.js" %}"></script>
{% endblock %}